@page "/admin/libros/agregar"
@inject NavigationManager navigatorManager
@inject IWebHostEnvironment env
@rendermode InteractiveServer
@implements IDisposable


@if(usuarioSesion?.Usuario != null)
{
    <div class="agregar-seccion">
        <h1 class="titulo-agregar">Agregar libros</h1>

        <div class="ingresos">
            <div class="clase-input-nombre">
                <h4>Inserte título del libro</h4>
                <input type="text" class="ingreso" @bind="@titulo"/>
            </div>

            <div class="clase-input-mail">
                <h4>Autor</h4>
                <input class="ingreso" @bind="@autor"/>
            </div>

            <div class="clase-input-mail">
                <h4>Precio</h4>
                <input type="number" class="ingreso" @bind="precio" />
            </div>

            <div class="clase-input-mail">
                <h4>Editorial</h4>
                <input class="ingreso" @bind="editorial"/>
            </div>

            <div class="clase-input-solicitud">
                <h4>Sinopsis</h4>
                <textarea class="ingreso-de-la-solicitud" @bind="sinopsis"></textarea>
            </div>

            <div class="clase-input-mail">
                <h4>Año Publicación</h4>
                <input type="number" class="ingreso" @bind="publicacion"/>
            </div>

            <div class="clase-input-mail">
                <h4>Cant. Páginas</h4>
                <input type="number" class="ingreso" @bind="pags"/>
            </div>

            <div class="clase-input-mail">
                <h4>Cantidad en Stock</h4>
                <input type="number" class="ingreso" @bind="stock"/>
            </div>

            <div class="clase-input-mail">
                <h4>Adjuntar imagen</h4>
                <InputFile OnChange="CargarImagen" accept="image/*"></InputFile>
            </div>

            <div class="clase-input-mail">
                <h4>Categoría</h4>
                <input class="ingreso" @bind="categoria"/>
            </div>

            <button class="boton-prev" @onclick="AgregarLibro">PREVISUALIZAR</button>
        </div>
    </div>
}

@code {
    [Inject] UserSession? usuarioSesion { get; set; }
    [Inject] LibroService? libroService { get;set; }
    User usuario = new();
    private string? titulo,autor,editorial,sinopsis,imgURL,categoria = "";
    private decimal precio;
    private int publicacion, pags, stock;
    private IBrowserFile? imagenSeleccionada;

    protected override void OnInitialized()
    {
        usuarioSesion?.OnChange += SessionChanged;
    }

    void SessionChanged()
    {
        if (usuarioSesion?.Usuario?.Rol != "admin")
        {
            navigatorManager.NavigateTo("/inicio");
        }
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        usuarioSesion?.OnChange -= SessionChanged;
    }

    protected Libro crearLibro()
    {
        return new Libro{
            Titulo = titulo ?? "",
            Autor = autor ?? "",
            Editorial = editorial ?? "",
            Descripcion = sinopsis ?? "",
            Precio = precio,
            Fecha = publicacion,
            cantPaginas = pags,
            Stock = stock,
            Categoria = categoria ?? "",
            ImageURL = imgURL ?? "",
        };
    }

    protected async Task AgregarLibro()
    {
        try
        {
            if (imagenSeleccionada != null)
            {
                //creamos un identificador con la extension del archivo pasado
                var nombreImagen = $"{Guid.NewGuid()}{Path.GetExtension(imagenSeleccionada.Name)}";
                //creamos la direccion
                var ruta = Path.Combine(env.WebRootPath, "images", "libros", nombreImagen);
                //creamos archivo vacio en la ruta
                using var stream = File.Create(ruta);
                //determinamos tamaño maximo de la imagen a guardar y guardamos la informacion en el archivo vacio
                await imagenSeleccionada.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024).CopyToAsync(stream);

                imgURL = $"/images/libros/{nombreImagen}";
            }

            var libro = crearLibro();
            await libroService!.Add(libro);
            navigatorManager.NavigateTo("/admin/libros");
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error al agregar el libro: {ex.Message}");
        }

    }

    protected async Task CargarImagen(InputFileChangeEventArgs e)
    {
        try{
            imagenSeleccionada = e.File;
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error al cargar la imagen: {ex.Message}");
        }
    }

}
