.seccion-cambiar-datos {
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.frase-cambio-datos-usuario {
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-seccion-inputs{
    display:flex;
    flex-direction:row; 
    gap:2rem;
    justify-content:space-between;
}

.input-cambiar-datos{
    width:400px;
}

.input-telefono, .input-altura{
    width:200px;
}
.guardar-datos-boton {
    grid-column: 2;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(244, 152, 117);
    font-weight: 600;
    font-family: sans-serif;
}

.datos-personales, .datos-contacto, .datos-ubicacion{
  
}