@page "/cambio-datos"
<div class="seccion-cambiar-datos">
    <h2 class="frase-cambio-datos-usuario"><strong>Cambio de datos de usuario:</strong></h2>
    <div class="datos-seccion-inputs">
        <div class="datos-personales">
            <h4>Datos de cuenta</h4>
            <h5>Su nombre: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su nombre" /></h5>
            <h5>Su apellido: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su apellido" /></h5>
            <h5>Su contraseña: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su contraseña" /></h5>
        </div>
       <div class="datos-contacto">
           <h4>Datos de contacto</h4>
            <h5>Su mail: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su mail" type="email" /></h5>
            <h5>Su telefono: <input class="input-telefono" placeholder="Modificar su teléfono" /></h5>
       </div>
       <div class="datos-ubicacion">
           <h4>Datos de domicilio</h4>
            <h5>Su provincia: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su provincia" /></h5>
            <h5>Su localidad: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su localidad" /></h5>
            <h5>Su calle: <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su calle" type="text" /></h5>
            <h5>Su altura: <input class="input-altura" placeholder="Modificar su altura" type="number" /></h5>
       </div>     
    </div>
    <button class="guardar-datos-boton">Guardar datos</button>
</div>

@code {

}
