@page "/cambio-datos"
<div class="seccion-cambiar-datos">
    <h2 class="frase-cambio-datos-usuario"><strong>Cambio de datos de usuario:</strong></h2>
    <div class="datos-seccion-inputs">
        <div class="datos-personales">
            <h4>Datos de cuenta</h4>
            <h5>Su nombre: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su nombre" />
            <h5>Su apellido: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su apellido" />
            <h5>Su contraseña: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su contraseña" />
        </div>
       <div class="datos-contacto">
           <h4>Datos de contacto</h4>
            <h5>Su mail: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su mail" type="email" />
            <h5>Su telefono: </h5>
            <input class="input-telefono" placeholder="modificar su teléfono" />
       </div>
       <div class="datos-ubicacion">
           <h4>Datos de domicilio</h4>
            <h5>Su provincia: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su provincia" />
            <h5>Su localidad: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su localidad" />
            <h5>Su calle: </h5>
            <input class="input-cambiar-datos" placeholder="ingrese aquí para modificar su calle" type="text" />
            <h5>Su altura: </h5>
            <input class="input-altura" placeholder="modificar su altura" type="number" />
       </div>     
    </div>
    <button class="guardar-datos-boton">Guardar datos</button>
</div>

@code {

}
