.seccion-cambiar-datos {
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.frase-cambio-datos-usuario {
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-seccion-inputs{
    display:flex;
    flex-direction:row; 
    gap:2rem;
    justify-content:space-between;
}

.input-cambiar-datos{
    width:400px;
}

.input-telefono, .input-altura {
    width: 200px;
    height: 30px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
.guardar-datos-boton {
    grid-column: 2;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(244, 152, 117);
    font-weight: 600;
    font-family: sans-serif;
}

.datos-personales, .datos-contacto, .datos-ubicacion {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

/*Movil design*/
@media (max-width:570px){

    .seccion-cambiar-datos {
        display: flex;
        flex-direction:column;
        width: 100%;
        align-content: start;
        padding: 1em 1rem;
        gap: 1rem;
    }

   .datos-seccion-inputs{
       display:flex;
       width:100%;
       flex-direction:column;
   }

    .input-cambiar-datos {
        width: 100%;
        border: 1px solid rgb(128, 128, 128);
    }

    .input-altura, .input-telefono {
        border: 1px solid rgb(128, 128, 128);
    }
    
   .datos-personales, .datos-contacto, .datos-ubicacion{
       height:fit-content;
       gap:4px;
   }
}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:1025px)
{
    .seccion-cambiar-datos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: start;
        padding: 2em 1rem;
        gap: 1rem;
    }

    .datos-seccion-inputs {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .input-cambiar-datos {
        width: 70%;
        height:2rem;
        font-size:22px;
        border: 1px solid rgb(128, 128, 128);
    }

    .input-altura, .input-telefono {
        border: 1px solid rgb(128, 128, 128);
        height: 2rem;
        font-size: 22px;
        width:30%;
    }

    .datos-personales, .datos-contacto, .datos-ubicacion {
        height: fit-content;
        gap: 4px;
    }

    h5, h4{
        font-size:24px;
    }

    .frase-cambio-datos-usuario{
        font-size:32px;
    }

    .guardar-datos-boton {
        width:210px;
        height:46px;
        font-size:24px;
    }
}