.seccion-cambiar-datos {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.frase-cambio-datos-usuario {
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-seccion-inputs{
    gap:1rem;
    grid-column:1/-1;
    justify-content:space-between;
}
