@rendermode InteractiveServer
@implements IDisposable
@inject NavigationManager navigatorManager
<!-- Componente con el diseño del carrito para cuando aparezca como hover en PC-->

<div class="carrito-hover">
    <div class="carrito">

        <h3 class="titulo-carrito">Mi carrito</h3>
        <div class="lista-libros-carrito">

            @foreach(var item in carritoService!.Items)
            {
                <div class="datos-libro-carrito">
                    <img src="@item.libro.ImageURL" />

                    <div class="titulo-precio">
                        <h4 class="titulo-libro-carrito">@item.libro.Titulo</h4>
                        <h4 class="precio-carrito">$@(item.libro.Precio * item.Cantidad)</h4>
                    </div>

                    <div class="controles-cantidad">
                        <span><strong>Cantidad</strong></span>
                        <div class="botones-aumenta-decrece">
                            <button class="btn-cantidad" @onclick="() => carritoService!.DisminuirCantidad(item.libro)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                            <span class="cantidad-numero">@item.Cantidad</span>
                            <button class="btn-cantidad" @onclick="() => carritoService!.AgregarLibro(item.libro)">
                                <i class="bi bi-plus-circle-fill"></i>
                            </button>
                        </div>

                    </div>

                </div>
            }
        </div>

        <div class="seccion-compra-botones">

            <div class="total-clase">
                <h4 class="frase-total">Total:</h4>
                <h4 class="frase-precio-total">$@carritoService!.Total</h4>
            </div>

            <br />


            @if (MostrarBotonComprar)
            {
                <button class="boton-comprar" @onclick="() => irAComprar()">
                    <span><strong>COMPRAR</strong></span>
                </button>
            }

        </div>
    </div>
</div>

@code {
    [Parameter] public bool MostrarBotonComprar { get; set; } = true;
    private List<Libro>? libros;
    [Inject] CarritoService? carritoService{ get; set; }
    [Inject] LibroService? libroService{ get; set; }


    protected override void OnInitialized()
    {
        carritoService!.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        carritoService!.OnChange -= StateHasChanged;
    }

    private void EliminarLibro(Libro libro)
    {
        carritoService?.EliminarLibro(libro);
    }

    protected void irAComprar()
    {
        navigatorManager.NavigateTo("/detalles-de-pago");
    }
}
