.carrito-hover {
    position: absolute;
    top: calc(100%);
    right: 0;
    width: 420px;
    z-index: 1000;
    padding: 1rem 1rem;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.titulo-carrito {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito img {
    width: 80px;
    height: 120px;
    border-radius: 10px;
    background: none;
    margin-left: 12px;
}

.datos-libro-carrito {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    margin-top: 2px;

}

.titulo-libro-carrito, .precio-carrito {
    font-size: 20px;
    text-wrap: balance;
}

.titulo-precio {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-left: 12px;
}

.precio-carrito {
    padding-top: 20px;
}

.bi-trash {
    display: flex;
    justify-items: end;
    margin-bottom: 6rem;
    padding: 4px;
    font-size: 22px;
}

.seccion-compra-botones {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    margin-top: 2px;
}

.frase-total, .frase-precio-total {
    font-weight: 600;
    font-size: 28px;
}

.total-clase {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.boton-comprar {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

    .boton-comprar:hover {
        border-color: rgb(128, 128, 128);
        border-width: 2px;
        background-color: rgb(245, 128, 84);
    }

.boton-basura-carrito {
    border: none;
    background: none;
}
