<div class="carrito">
    <h3>Mi carrito</h3>
    <div class="lista-libros-carrito">

        <div class="datos-libro-carrito">
            <img src="" />
            <h4>NOMBRE LIBRO</h4>
            <h4>PRECIO LIBRO</h4>
            <div class="tacho-basura">
                <i class="bi bi-trash"></i>
            </div>
        </div>

        <div class="seccion-compra-botones">

            <div class="total-clase">
                <h4 class="frase-total">Total:</h4>
                <h4 class="frase-precio-total">$PRECIO TOTAL</h4>
            </div>

            <br />

            <div class="clase-boton-comprar">
                <button class="boton-comprar">COMPRAR</button>
            </div>
        </div>
        
    </div>
</div>
@code{

}