

/*Seccion carrito full screen para pc*/
.carrito-full-screen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    width: 100%;
}

.titulo-carrito {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito{
    width:70%;
    height:40%;
    padding: 4px 3px;
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    gap:10px;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    margin-top: 2px;
}


    .datos-libro-carrito img {
        width: 90px;
        height: 140px;
        border-radius: 10px;
        background: none;
        margin-left: 12px;
    }


.datos-libro-carrito:hover{
    background-color:rgb(238, 184, 162);
}

.titulo-precio {
    align-items: center;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.titulo-libro-carrito, .precio-carrito {
    font-size: 20px;
    text-wrap: balance;
}

.precio-carrito {
    padding-top: 0px;
}

.seccion-compra-botones {
    width: 70%;
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
}

.lista-libros-carrito{
    display:flex;
    flex-direction:column;
}

.boton-comprar {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

.boton-comprar:hover {
    border-color: rgb(128, 128, 128);
    border-width: 2px;
    background-color: rgb(245, 128, 84);
}

.boton-basura-carrito {
    border: none;
    background: none;
}

.frase-total, .frase-precio-total {
    font-weight: 600;
    font-size: 28px;
}

.total-clase {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.bi-trash {
    display: flex;
    justify-items: end;
    margin-bottom: 6rem;
    padding: 4px;
    font-size: 22px;
}

/*Diseño movil*/
@media (max-width:570px){

    .carrito-full-screen {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    .titulo-carrito {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito {
        width: 100%;
        height: 60%;
    }

    .datos-libro-carrito:hover {
        background-color: rgb(238, 184, 162);
     }

    .titulo-precio {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito {
        padding-top: 0px;
    }

    .seccion-compra-botones {
        width: 100%;
    }

    .lista-libros-carrito{
        display:flex;
        flex-direction:column;
        gap: 10px;
    }

}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px){

    .carrito-full-screen {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito {
        width: 100%;
        height: 60%;
    }

        .datos-libro-carrito:hover {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito {
        padding-top: 0px;
    }

    .seccion-compra-botones {
        width: 100%;
    }

    .lista-libros-carrito{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .titulo-libro-carrito, .precio-carrito {
        font-size: 26px;
    }

    .frase-total, .frase-precio-total {
        font-size: 32px;
    }

    .boton-comprar {
        font-size: 24px;
        height: fit-content;
    }
}

/*Diseño tablets pro, grandes*/
@media (min-width:852px) and (max-width:1024px){

    .carrito-full-screen {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito {
        width: 100%;
        height: 12vh;
    }

    .datos-libro-carrito img{
        width:100px;
        height: 140px;
    }

        .datos-libro-carrito:hover {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito {
        padding-top: 0px;
    }

    .seccion-compra-botones {
        width: 100%;
    }

    .lista-libros-carrito {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width:100%;
        height:fit-content;
    }

    .bi-trash {
        display: flex;
        justify-items: end;
        margin-bottom: 6rem;
        padding: 4px;
        font-size: 26px;
    }

    .titulo-libro-carrito, .precio-carrito{
        font-size: 26px;
    }

    .frase-total, .frase-precio-total{
        font-size:32px;
    }

    .boton-comprar {
        font-size: 28px;
        height: fit-content;
    }
}