@page "/catalogo"
@using LibreriaNeumann.Services
@rendermode InteractiveServer

<div class="catalogo">

    <h1 class="titulo-catalogo">Nuestros libros</h1>

    <button class="boton-filtrar" @onclick="PressButton">
            <span>FILTRAR</span>
            <i class="bi bi-arrow-down"></i>
        </button>

    @if (botonPresionado)
        {
            <div class="menu-catalogo-responsive">

                <button class="botones-catalogo">
                    <span>CATEGORÍAS</span>
                    <i class="bi bi-star-fill"></i>
                </button>

                @if (botonCategorias)
                {
                    <button class="botones-catalogo">
                        <span>SUSPENSO</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>ROMANCE</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>ACCIÓN</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>HISTÓRICOS</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>ARTE</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>FANTASÍA</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>POLICIAL</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>CIENCIA FICCIÓN</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                }

                <button class="botones-catalogo">
                    <span>PRECIO</span>
                    <i class="bi bi-star-fill"></i>
                </button>

                @if(botonPrecio)
                {
                    <button class="botones-catalogo">
                        <span>$5000 a $10000 </span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>$10000 a $15000 </span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>$15000 a $20000 </span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>$20000 a $25000 </span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <div class="ingreso-precios">
                        <input placeholder="mínimo" type="number"/>
                        <span>-</span>
                        <input placeholder="maximo"/>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                }

                <button class="botones-catalogo">
                    <span>AUTOR</span>
                    <i class="bi bi-star-fill"></i>
                </button>

                @if (botonAutor)
                {
                    <button class="botones-catalogo">
                        <span>Homero</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>Lweis Caroll</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>Alexandre Dumas</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="botones-catalogo">
                        <span>Hermanos Grim</span>
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <div class="ingreso-autor">
                    <input placeholder="nombre autor" />
                    <i class="bi bi-chevron-right"></i>
                    </div>
                }

                <button class="botones-catalogo">
                    <span>FECHA </span>
                    <i class="bi bi-star-fill"></i>
                </button>

            @if (botonFecha)
            {
                <button class="botones-catalogo">
                    <span>Antiguos</span>
                    <i class="bi bi-star-fill"></i>
                </button>
                <button class="botones-catalogo">
                    <span>1800-1900</span>
                    <i class="bi bi-star-fill"></i>
                </button>
                <button class="botones-catalogo">
                    <span>1900-2000</span>
                    <i class="bi bi-star-fill"></i>
                </button>
                <button class="botones-catalogo">
                    <span>2000-Contemporáneo</span>
                    <i class="bi bi-star-fill"></i>
                </button>
            }
            </div>
        }

    <div class="menu-catalogo-pc">

        <button class="botones-catalogo">
            <span>CATEGORÍAS</span>
            <i class="bi bi-star-fill"></i>
        </button>

        <button class="botones-catalogo">
            <span>PRECIO</span>
            <i class="bi bi-star-fill"></i>
        </button>

        <button class="botones-catalogo">
            <span>AUTOR</span>
            <i class="bi bi-star-fill"></i>
        </button>

        <button class="botones-catalogo">
            <span>
                FECHA
            </span>
            <i class="bi bi-star-fill"></i>

        </button>
    </div>
       

    <div class="lista-libros">

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/CM38mrH1/heartslayul-4.webp" />
            <h4 class="titulo-libro-catalogo pt-2">TWISTED WONDERLAND NO 4</h4>
            <p class="autor-catalogo">Yana Toboso / Wakana Hadzuki /<br /> Sumire Kowono</p>
            <p class="precio-catalogo"><strong>$16.900,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/rsqm4nPR/la-odisea.webp"  />
            <h4 class="titulo-libro-catalogo pt-2">LA ODISEA</h4>
            <p class="autor-catalogo">Homero</p>
            <p class="precio-catalogo"><strong>$16.200,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/HnQT6Qfs/alicia-pais-libro.webp" />
            <h4 class="titulo-libro-catalogo pt-2">ALICIA EN EL PAÍS DE LAS MARAVILLAS</h4>
            <p class="autor-catalogo">Lewis Caroll</p>
            <p class="precio-catalogo"><strong>$4.750,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/4dfvf5QW/el-conde-mont-libro.webp" />
            <h4 class="titulo-libro-catalogo pt-2">
                EL CONDE DE MONTECRISTO</h4>
            <p class="autor-catalogo">Alexandre Dumas</p>
            <p class="precio-catalogo"><strong>$48.000,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/Wz0zKDdS/caballero-armadura.webp" />
            <h4 class="titulo-libro-catalogo pt-2">
                EL CABALLERO DE LA ARMADURA OXIDADA
            </h4>
            <p class="autor-catalogo">Robert Fisher</p>
            <p class="precio-catalogo"><strong>$11.000,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

    </div>


</div>

@code {
    private bool botonPresionado;
    private bool botonCategorias;
    private bool botonPrecio;
    private bool botonAutor;
    private bool botonFecha;

    private void PressButton()
    {
        botonPresionado = !botonPresionado;
    }

    private FiltrosCatalogo filtros = new();

    private void ToggleCategory(string categoria)
    {
        if (filtros.Categorias.Contains(categoria))
        {
            filtros.Categorias.Remove(categoria);
        }
        else
        {
            filtros.Categorias.Add(categoria);
        }
    }
}
