@page "/catalogo"

<div class="catalogo">

    <h1 class="titulo-catalogo">Nuestros libros</h1>

    <div class="menu-catalogo">

            <button class="botones-catalogo">
                <span>CATEGORÍAS</span>
                <i class="bi bi-star-fill"></i>
            </button>
           
            <button class="botones-catalogo">
                <span>PRECIO</span>
                <i class="bi bi-star-fill"></i>
            </button>

            <button class ="botones-catalogo">
                <span>AUTOR</span>
                <i class="bi bi-star-fill"></i>
            </button>

            <button class="botones-catalogo">
               <span>
                    FECHA
               </span>
                <i class="bi bi-star-fill"></i>

               </button>
    </div>

    <div class="lista-libros">

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/CM38mrH1/heartslayul-4.webp" />
            <h4 class="titulo-libro-catalogo pt-2">TWISTED WONDERLAND NO 4</h4>
            <p class="autor-catalogo">Yana Toboso / Wakana Hadzuki /<br /> Sumire Kowono</p>
            <p class="precio-catalogo"><strong>$16.900,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/rsqm4nPR/la-odisea.webp"  />
            <h4 class="titulo-libro-catalogo pt-2">LA ODISEA</h4>
            <p class="autor-catalogo">Homero</p>
            <p class="precio-catalogo"><strong>$16.200,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/HnQT6Qfs/alicia-pais-libro.webp" />
            <h4 class="titulo-libro-catalogo pt-2">ALICIA EN EL PAÍS DE LAS MARAVILLAS</h4>
            <p class="autor-catalogo">Lewis Caroll</p>
            <p class="precio-catalogo"><strong>$4.750,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/4dfvf5QW/el-conde-mont-libro.webp" />
            <h4 class="titulo-libro-catalogo pt-2">
                EL CONDE DE MONTECRISTO</h4>
            <p class="autor-catalogo">Alexandre Dumas</p>
            <p class="precio-catalogo"><strong>$48.000,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

        <div class="cuadro-libro">
            <img src="https://i.postimg.cc/Wz0zKDdS/caballero-armadura.webp" />
            <h4 class="titulo-libro-catalogo pt-2">
                EL CABALLERO DE LA ARMADURA OXIDADA
            </h4>
            <p class="autor-catalogo">Robert Fisher</p>
            <p class="precio-catalogo"><strong>$11.000,00</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

    </div>


</div>

@code {

}
