<div class="catalogo">

    <div class="titulo-catalogo">
        <h1>Nuestros libros</h1>
    </div>

    <div class="menu-catalogo">
        <div class="categorias">
            <button>CATEGORÍAS</button>
        </div>

        <div class="precio">
            <button>PRECIO</button>
        </div>

        <div class="autor">
            <button>AUTOR</button>
        </div>

        <div class="fecha">
            <button>FECHA</button>
        </div>
    </div>

    <div class="lista-libros">

        <div class="cuadro-libro">
            <img src="" />
            <h4>Titulo libro</h4>
            <p>autor</p>
            <p><strong>precio</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

          <div class="cuadro-libro">
            <img src="" />
            <h4>Titulo libro</h4>
            <p>autor</p>
            <p><strong>precio</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

          <div class="cuadro-libro">
            <img src="" />
            <h4>Titulo libro</h4>
            <p>autor</p>
            <p><strong>precio</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

          <div class="cuadro-libro">
            <img src="" />
            <h4>Titulo libro</h4>
            <p>autor</p>
            <p><strong>precio</strong></p>
            <button class="boton-comprar-libro">COMPRAR</button>
        </div>

    </div>


</div>

@code {

}
