@page "/contacto"

<div class="contacto">
    <h1 class="titulo-contacto-seccion">Contactate con nosotros</h1>

    <div class="ingresos">
            <h4>Ingrese su nombre</h4>
            <div class="clase-input-nombre">
                <input type="text" class="ingreso" />
            </div>

            <h4>Ingrese su mail</h4>
            <div class="clase-input-mail">
                <input type="email" class="ingreso" />
            </div>

            <h4>Ingrese su solicitud</h4>
            <div class="clase-input-solicitud">
            <textarea class="ingreso-de-la-solicitud"></textarea>
            </div>

        <div class="clase-boton-enviar">
            <button class="boton-enviar">Enviar consulta</button>
        </div>

    </div>
        
</div>

@code {

}
