.contacto {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.titulo-contacto-seccion {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style:solid;
}

.ingreso-de-la-solicitud {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
    border-width:2px;
    height:100px;
}

.boton-enviar {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
    font-weight:600;
    font-family:sans-serif;
}

.boton-enviar:hover{
   border-color: rgb(128, 128, 128);
}