.contacto {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    gap: 1rem;
}

.titulo-contacto-seccion {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingresos{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:0.5rem;
}

.ingreso {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style:solid;
}

.ingreso-de-la-solicitud {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
    border-width:2px;
    height:100px;
}

.boton-enviar {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
    font-weight:600;
    font-family:sans-serif;
}

.boton-enviar:hover{
   border-color: rgb(128, 128, 128);
}

/*Movile design*/
@media (max-width:570px){
    .contacto {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 1em 1rem;
        gap: 10px;
    }

   .ingreso{
       width:100%;
       height:24px;
   }

   .ingreso-de-la-solicitud{
       width:100%;
   }

    .boton-enviar {
        margin-top: 1rem;
    }
}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px)
{
    .contacto {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        gap: 1rem;
    }

    .ingreso {
        width: 70%;
        height: 1.7rem;
    }

     .contacto {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        gap: 1rem;
    }

    .ingreso {
        width: 70%;
        height: 1.7rem;
    }

    .ingreso-de-la-solicitud {
        width: 70%;
        height: 170px;
    }

    h4{
        font-size:24px;
    }

    .boton-enviar {
        width: 210px;
        height: 46px;
        font-size: 24px;
        margin-top:1rem;
    }

    h4{
        font-size:24px;
    }

    .boton-enviar {
        width: 210px;
        height: 50px;
        font-size: 24px;
        margin-top:1rem;
    }

    .ingresos{
        gap:0.8rem;
    }

}

/*Diseño tablets pro, grandes*/
@media (min-width:853px) and (max-width:1024px){
    .contacto {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        gap: 1rem;
    }

    .ingreso {
        width: 70%;
        height: 2rem;
    }

    .ingreso-de-la-solicitud {
        width: 70%;
        height: 180px;
    }

    h4 {
        font-size: 28px;
    }

    .boton-enviar {
        width: 220px;
        height: 60px;
        font-size: 24px;
        margin-top: 1rem;
    }

    .ingresos {
        gap: 1.2rem;
    }
}