<div class="contacto">
    <h1>Contactate con nosotros</h1>

    <div class="ingresos">
        <div class="ingreso-nombre">
            <h4>Ingrese su nombre</h4>
            <div class="clase-input-nombre">
                <input type="text" class="ingreso-del-nombre" />
            </div>
        </div>

        <br />

        <div class="ingreso-mail">
            <h4>Ingrese su mail</h4>
            <div class="clase-input-mail">
                <input type="email" class="ingreso-del-mail" />
            </div>
        </div>

        <br />

        <div class="ingreso-solicitud">
            <h4>Ingrese su solicitud</h4>
            <div class="clase-input-solicitud">
            <textarea class="ingreso-de-la-solicitud"></textarea>
            </div>
        </div>

        <br />

        <div class="clase-boton-enviar">
            <button class="boton-enviar">Enviar consulta</button>
        </div>

        <br />
    </div>
        
</div>

@code {

}
