<div class="detalles-pago">
    <h2>Detalles de pago</h2>
    <h2>DETALLES DEL CONTACTO </h2>
    <h3>E-mail</h3>
    <h4 class="email-usuario">suemail@gmal.com</h4>

    <div class="ingresos">

        <div class="ingreso-telefono">
            <h4>Ingrese su telefono</h4>
            <div class="clase-input-telefono">
                <input type="text" class="ingreso-del-telefono" />
            </div>
        </div>

        <br />

        <div class="ingreso-calle">
            <h4>Ingrese su calle</h4>
            <div class="clase-input-calle">
                <input type="text" class="ingreso-de-calle" />
            </div>
        </div>

        <br />

        <div class="ingreso-altura">
            <h4>Ingrese su altura de calle</h4>
            <div class="clase-input-altura">
                <input type="number" class="ingreso-de-altura" />
            </div>
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Ingrese su constraseña</h4>
            <div class="clase-input-contraseña">
                <input type="password" class="ingreso-de-contraseña" />
            </div>
        </div>

        <br />

        <div class="ingreso-localidad">
            <h4>Ingrese su localidad</h4>
            <div class="clase-input-localidad">
                <input type="text" class="ingreso-de-localidad" />
            </div>
        </div>

        <br />

        <div class="ingreso-provincia">
            <h4>Ingrese su provincia</h4>
            <div class="clase-input-provincia">
                <input type="text" class="ingreso-de-provincia" />
            </div>
        </div>

        <br />

    </div>

    <div class="cuadro-carrito">
        <CarritoComponent></CarritoComponent>
    </div>

    <div class="medios-pago-seccion">

        <h2 class="frase-medios-pago">MEDIOS DE PAGO</h2>
        <div class="seccion-medios-pago">

            <div class="cuadro-pago-efectivo">

                <div class="clase-icono-billete">
                   <h5>icono billete</h5>
                </div>

                <h5 class="frase-efectivo-local">Efectivo en nuestro local</h5>

                <div class="clase-icono-flecha">
                    <i class="bi bi-caret-right-fill"></i>
                </div>

                <div class="cuando-clickea">

                    <div class="monto-a-pagar">
                        <h5>Su monto total es:</h5>
                        <h5>$MONTO</h5>
                    </div>
             
                    <h5>Nuestra dirección de local es:</h5>

                    <h5>>Diagonal 73, 7526,
                        La Plata
                    </h5>

                    <a class="direccionador-a-google-maps" href="#">
                        <img src="">
                    </a>

                    <h5>Nuestros horarios de atencion:</h5>

                    <h5>
                        Lun a Sab
                        09:00 a 20:00
                    </h5>

                    <h5>Al solicitar "comprar" se enviará un comprobante de solicitud de compra a su mail.
                        Por favor, dirijase a nuestro local dentro de 48 hs para continuar el proceso de compra de su pedido.
                    </h5>

                    <div class="boton-cambiar-medio-pago">
                        <i class="bi bi-caret-left-fill"></i>
                        <h5 class="frase-cambiar-medio-pago">Cambiar medio de pago</h5>
                    </div>
                </div>

            </div>

            <div class="cuadro-pago-tarjeta">

                <div class="clase-icono-tarjeta">
                    <h5>icono tarjeta</h5>
                </div>

                <h5 class="frase-tarjeta">Pago con tarjetas</h5>

                <div class="clase-icono-flecha">
                    <i class="bi bi-caret-right-fill"></i>
                </div>

                <div class="cuando-clickea">

                    <h5>Ingrese numero de la tarjeta</h5>

                    <input type="number"/>

                    <h5>Nombre completo del titular de la tarjeta</h5>
                    <input type="text" />

                    <h5>Codigo de seguridad</h5>
                    <input type="number" />

                    <h5>
                        Al solicitar "comprar" se enviará un comprobante de compra a su mail.
                        Por favor, dirijase a correo para revisar los detalles de su pedido.
                    </h5>

                    <div class="boton-cambiar-medio-pago">
                        <i class="bi bi-caret-left-fill"></i>
                        <h5 class="frase-cambiar-medio-pago">Cambiar medio de pago</h5>
                    </div>
                </div>

            </div>

            <div class="cuadro-pago-transferencia">

                <div class="clase-icono-transferencia">
                    <h5>icono transferencia</h5>
                </div>

                <h5 class="frase-transferencia">Transferencia bancaria</h5>

                <div class="clase-icono-flecha">
                    <i class="bi bi-caret-right-fill"></i>
                </div>

                <div class="cuando-clickea">

                    <h5>Datos para la transferencia</h5>

                    <div class="cbu-class">
                        <h5>CBU:</h5>
                        <h6 class="cbu-frase">005689192727</h6>
                    </div>

                    <div class="alias-frase">
                        <h5>Alias: </h5>
                        <h6>neumann.libros.fantasia.mp</h6>
                    </div>

                    <div class="nombre-transferencia-frase">
                        <h5>Titular cuenta:</h5>
                        <h6>Lucas Kingschollar</h6>
                    </div>

                    <div class="banco-frase">
                        <h5>Banco:</h5>
                        <h6>Galicia</h6>
                    </div>

                    <h5>
                        Al solicitar "comprar" se enviará un comprobante de solicitud de compra a su mail.
                    </h5>

                    <br />

                    <h5>
                        Por favor, envie el comprobante de transferencia a nuestro mail dentro de 48 hs para continuar el proceso de compra de su pedido.

                    </h5>
                    <br />
                    <h5>
                        Tenga en cuenta que la confirmación de comprar puede demorar un tiempo. Cuando su pago sea confirmado se le enviará confirmación
                        de pago y su numero de compra.
                    </h5>

                    <div class="boton-cambiar-medio-pago">
                        <i class="bi bi-caret-left-fill"></i>
                        <h5 class="frase-cambiar-medio-pago">Cambiar medio de pago</h5>
                    </div>
                </div>

            </div>

            <br />
            <div class="clase-boton-comprar">
                <button class="boton-compprar">COMPRAR</button>
            </div>
        </div>
    </div>
</div>

@code {

}
