.boton-volver-carrito {
    display: none;
}

.detalles-pago {
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap:16rem;
}

.columna-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self:start;
}

.cuadro-carrito {
    display: flex;
    justify-self: end;
    margin-top: 2rem;
}

.titulo-detalles-pago {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.email-usuario{
    position:relative;
    display:inline-block;
    text-decoration:none;
    color:black;
}

::deep .email-usuario::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    margin-top: 28px;
}

.ingresos{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.ingreso {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}



.detalles-contacto, .mail-detpago {
    margin-top: 1rem;
}

.medios-pago-seccion {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:10px;

}

.cuadro-pago-efectivo img{
    width: 40px;
    height: 30px;
}

.cuadro-pago-efectivo, .cuadro-pago-tarjeta, .cuadro-pago-transferencia {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.icono-frase {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:center;
}

.frase-transferencia, .frase-efectivo-local,.frase-tarjeta{
    padding-top: 6px;
}

.bi-caret-right-fill {
    font-size: 24px;
    justify-self: end;
}

.cuando-clickea-billete {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: start;
    flex-direction: column;
    justify-items: start;
    gap: 2px;
}

.cuadro-pago-tarjeta img{
    height:46px;
    width:44px;
}

.cuando-clickea-tarjetas {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: start;
    gap:2px;
}

.cuadro-pago-transferencia img{
    height:32px;
    width:42px;
}

.cuando-clickea-transferencia {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: start;
    gap: 2px;
}

.cuadro-pago-efectivo, .cuadro-pago-tarjeta, .cuadro-pago-transferencia {
    background-color: white;
    cursor: pointer;
    transition: background-color .2s ease;
}

.activo {
    background-color: rgb(244, 152, 117, 0.2);
    border-color: rgb(244, 152, 117);
}

.boton-comprar {
    display: grid;
    grid-column: 1;
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    height:40px;
    align-content: center;
    font-size:20px;
    margin-top:3rem;
}

.boton-comprar:hover {
        border-color: rgb(128, 128, 128);
        border-width: 4px;
        border-style:solid;
}

.mapa-efectivo{
    display:flex;
    width:350px;
    height:200px;
}

.seccion-medios-pago{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:fit-content;
}

/*Dispositivos celulares*/
@media (max-width:570px){
    .boton-volver-carrito {
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 190px;
        height: 34px;
        color: white;
        background-color: rgb(244, 152, 117);
        border-radius: 15px;
        color: white;
        border: 2px solid rgb(244, 152, 117);
        margin-top:1rem;
        padding: 0 14px;
    }

    .bi-caret-left-fill {
        color: black;
        font-size: 24px;
    }

    .frase-volver-carrito{
        padding-top: 8px;
        font-size:18px;
        align-self:center;
    }

    .detalles-pago {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        padding: 1em 1rem;
        gap: 1rem;
    }

    .columna-1{
        gap:1rem;
        width:100%;
    }

    .detalles-contacto, .mail-detpago {
        margin-top: 0;
    }

    .ingreso, .medios-pago-seccion, .seccion-medios-pago, .cuadro-pago-efectivo, .cuadro-pago-tarjeta, .cuadro-pago-transferencia, .ingreso-provincia, .ingreso-localidad,
    .ingreso-contraseña, .ingreso-altura ,.ingreso-calle, .ingreso-telefono{
        width:100%;
    }

    .cuadro-carrito{
        display:none;
    }

    .mapa-efectivo {
        display: flex;
        width: 100%;
        height: 150px;
    }
}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px){
    .boton-volver-carrito {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 40px;
        color: white;
        background-color: rgb(244, 152, 117);
        border-radius: 15px;
        color: white;
        border: 2px solid rgb(244, 152, 117);
        margin-top: 1rem;
        padding: 0 14px;
    }

    .detalles-pago {
        display: flex;
        flex-direction:row;
        width: 100%;
        align-items: start;
        padding: 1em 1rem;
        gap: 2rem;
    }

    .columna-1 {
        display: flex;
        flex-direction:column;
        gap: 1rem;
        width:40vw;
        height:fit-content;
    }

    .titulo-detalles-pago {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .email-usuario {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
    }

    ::deep .email-usuario::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(1);
        margin-top: 28px;
    }

    .ingresos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width:40vw;
    }

    .ingreso {
        width: 500px;
        border-radius: 8px;
        border-color: rgb(167, 167, 167);
        border-style: solid;
        width:100%;
    }

    .cuadro-carrito {
        display: grid;
        align-content: end;
        margin-top: 2rem;
        padding-top: 28px;
        width:30vw;
    }

    .medios-pago-seccion {
        align-self: end;
        justify-content: end;
        width: 40vw;
        height: fit-content;
    }

    .seccion-medios-pago {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .cuadro-pago-efectivo, .cuadro-pago-tarjeta, .cuadro-pago-transferencia{
        width:100%;
    }

    .cuadro-pago-efectivo img {
        width: 40px;
        height: 30px;
    }

    .boton-comprar{
        margin:1rem 0;
    }

    .cuando-clickea-billete, .cuando-clickea-tarjetas, .cuando-clickea-transferencia{
        width:50vw;
    }

    .mapa-efectivo{
        width:100%;
    }
}