.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 2.5rem;
    gap: 1rem;
    background-color:lightgray;
}

.frase{
    color:white;
    font-size:22px;
}

.redes-seccion{
    display:flex;
    flex-direction:column;  
    gap:1.5rem;
    align-items:start;
}

::deep .contenedor {
    content: "";
    background-color: rgb(244, 152, 117);
    border-radius: 75px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: start;
    border-color: rgb(244, 152, 117);
    border-style:solid;
    cursor:pointer;
}

.contenedor i{
    font-size:24px;
    color:lightgray;
    padding-top:1px;
}

::deep .contenedor-facebook {
    display: flex;
    background: none;
    align-items:start;
    width: 40px;
    cursor:pointer;
}

::deep .contenedor-facebook i {
    color: rgb(244, 152, 117);
    font-size: 40px;
    align-self:start;
    padding-right:6px;
}

.clase-donde-estamos {
    display: flex;
    flex-direction: column;

}


::deep .iconos-contacto{
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:2rem;
    margin-top:1.7rem;
   
}

::deep .telefono-seccion{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:start;
    gap:20px;
    
}

.contenedor-mail, .contenedor-ubicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: rgb(244, 152, 117);
    border-radius:75px;
    width:40px;
    height:40px;
    text-wrap:nowrap;
    cursor:pointer;
}

.bi-envelope, .contenedor-ubicacion i{
    font-size:24px;
    color:lightgray;
    display:flex;
    justify-items:center;
    padding-left:8px;
    gap:20px;
}

::deep .mail-texto, .horario-texto{
    margin-left:10px;
}

::deep #map {
    height: 300px;
    width:100%;
    border-radius:8px;
}
