@rendermode InteractiveServer

@inject IJSRuntime JS

<div class="footer">

    <div class="redes-seccion">

        <h5 class="frase"><strong>NUESTRAS REDES</strong></h5>

        <div class="iconos-redes">
            <a class="contenedor">
                <i class="bi bi-instagram"></i>
            </a>

            <a class="contenedor-facebook">
                <i class="bi bi-facebook"></i>
            </a>

            <a class="contenedor-tiktok">
                <i class="bi bi-tiktok"></i>
            </a>
        </div>
       
    </div>

    <div class="clase-donde-estamos">

        <h5 class="frase"><strong>DONDE ESTAMOS</strong></h5>

        <h5 class="ubicacion-frase">Diagonal 73, 7526, La Plata</h5>

        <div id="map">
        </div>

        <div class="contenedor-link-horario">
            <div class="link-a-mapa">
                <a href="https://maps.app.goo.gl/yEPUB2vcKns1oDeAA" target="_blank" class="icon-link">
                    <i class="bi bi-geo-alt-fill"></i> </a>
            </div>
            <h6 class="horario-texto">
                Lun a Sab <br />09:00 a 20:00
            </h6>
        </div>
        
    </div>

    <div class="atencion-seccion">

        <h5 class="frase"><strong>ATENCIÓN</strong></h5>

            <div class="iconos-contacto">

                <div class="telefono-seccion">
                    <a class="contenedor" href="tel:221-566-555"><i class="bi bi-telephone "></i></a>
                    <h6 class="frase-tel">221-566-555</h6>
                </div>

                <div class="contenedor-mail">
                    <a href="mailto:libneum@gmail.com" class="icon-link"> <i class="bi bi-envelope"></i></a>
                    <h6 class="mail-texto">libneum@gmail.com</h6>
                </div>

                <div class="contenedor-ubicacion">
                    <NavLink >
                        <i class="bi bi-geo-alt-fill"></i>
                    </NavLink>
                    <h6 class="horario-texto">
                        Lun a Sab <br />09:00 a 20:00
                    </h6>
                </div>
            </div>
       
    </div>

</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initMap");
        }
    }
}
