<div class="footer">

    <div class="redes-seccion">

        <h5 class="frase"><strong>NUESTRAS REDES</strong></h5>

        <NavLink class="contenedor">
            <i class="bi bi-instagram"></i>
        </NavLink>

        <NavLink class="contenedor-facebook">
            <i class="bi bi-facebook"></i>
        </NavLink>

        <NavLink class="contenedor">
            <i class="bi bi-tiktok"></i>
        </NavLink>
    </div>

    <div class="clase-donde-estamos">

        <h5 class="frase"><strong>DONDE ESTAMOS</strong></h5>

        <h5>
            Diagonal 73, 7526, <br />
            La Plata
        </h5>

        <a href="#">
            <img src="" />
        </a>
    </div>

    <div class="atencion-seccion">

        <h5 class="frase"><strong>ATENCIÓN</strong></h5>

        <div class="iconos-contacto">
            <div class="telefono-seccion">

                <NavLink class="contenedor">
                    <i class="bi bi-telephone"></i>
                </NavLink>

                <h6>221-566-555</h6>
            </div>

            <div class="contenedor-mail">
                <NavLink>
                    <i class="bi bi-envelope"></i>
                </NavLink>
                <h6 class="mail-texto">libneum@gmail.com</h6>
            </div>

            <div class="contenedor-ubicacion">
                <NavLink>
                    <i class="bi bi-geo-alt-fill"></i>
                </NavLink>
                <h6 class="horario-texto">
                    Lun a Sab <br />09:00 a 20:00
                </h6>
            </div>
        </div>
       
    </div>

</div>
@code {

}
