﻿.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 2.5rem;
    gap: 1rem;
    background-color: lightgray;
}

.frase {
    color: white;
    font-size: 22px;
}

.contenedor-mapa-link-horario-tablet{
    display:none;
}

.redes-seccion {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: start;
}

::deep .contenedor {
    content: "";
    background-color: rgb(244, 152, 117);
    border-radius: 75px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: start;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    cursor: pointer;
}

::deep .contenedor-tiktok {
    content: "";
    background-color: rgb(244, 152, 117);
    border-radius: 75px;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    justify-items: end;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    cursor: pointer;
    margin-top:12px;
}

.contenedor i, .contenedor-tiktok i {
    font-size: 24px;
    color: lightgray;
    padding-top: 1px;
}

::deep .contenedor-facebook {
    display: flex;
    background: none;
    align-items: start;
    width: 40px;
    cursor: pointer;
}

    ::deep .contenedor-facebook i {
        font-size: 40px;
        line-height: 1;
        transform: translateX(-1px);
        color: rgb(244, 152, 117);
    }

.clase-donde-estamos {
    display: flex;
    flex-direction: column;
}


::deep .iconos-contacto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
    margin-top: 2rem;
}

::deep .telefono-seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.contenedor-mail, .contenedor-ubicacion, .link-a-mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: rgb(244, 152, 117);
    border-radius: 75px;
    width: 40px;
    height: 40px;
    text-wrap: nowrap;
    cursor: pointer;
}

    .bi-envelope, .contenedor-ubicacion i, .link-a-mapa i {
        font-size: 24px;
        color: lightgray;
        display: flex;
        justify-items: center;
        padding-left: 8px;
        gap: 20px;
    }

::deep .mail-texto, .horario-texto {
    margin-left: 10px;
}

::deep .map-shared {
    height: 200px;
    width: 400px;
    border-radius: 8px;
    overflow:hidden;
}

.contenedor-link-horario, .clase-donde-estamos-tablet {
    display: none;
}

.icon-link{
    text-decoration:none;
    outline:none;
}


::deep .iconos-redes{
    gap:2rem;
    display:flex;
    flex-direction:column;
}




/*Cellphone media*/
@media (max-width:570px)
{
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 6px;
        padding-top: 8px;
        width:100%;
    }

    .redes-seccion, .clase-donde-estamos, .atencion-seccion{
        gap:4px;
        display:flex;
        justify-content:center;
        align-items:center;
     
    }
    

    .atencion-seccion{
        flex-direction:column;
        gap:1px;
    }

    .iconos-redes{
        display:flex;
        flex-direction:row;
    }

    .contenedores {
        display: flex;
        flex-direction: row;
        justify-items:center;
        justify-content:space-between;
        gap:3rem;
    }

   ::deep .contenedor-facebook{
        width:40px;
        height:40px;
        align-items:center;
        justify-content:center;
        margin-top:2px;
    }

   ::deep .contenedor-facebook i{
       font-size:40px;
       padding-bottom:2px;
   }

    .contenedor-link-horario {
        display: flex;
        margin-top: 10px;
        align-content: center;
        gap: 10px;
    }

    .icon-link {
        text-decoration: none;
        outline: none;
    }

    .contenedor-ubicacion, .mail-texto, .frase-tel, .map-shared, .clase-donde-estamos-tablet {
        display: none;
    }

    ::deep .iconos-contacto{
        margin-top:0px;
        gap:20px;
        display:flex;
        flex-direction:row;
    }

    ::deep .contenedor-tiktok{
        margin-top:0px;
    }

    .ubicacion-frase{
        font-size:16px;
    }
}

/*Tablet mini/ipads mini*/
@media (min-width:571px) and (max-width:860px){
    .footer {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 2rem;
        width: 100%;
        padding: 2em 3rem;
    }

    .redes-seccion, .clase-donde-estamos-tablet, .atencion-seccion {
        gap: 4px;
        
    }

    .atencion-seccion {
        display:flex;
        flex-direction: column;
        gap:0;
      
    }

    .iconos-redes{
        display:flex;
        flex-direction:column !important;
        align-content:start;
    }

    .redes-seccion, .atencion-seccion{
        align-items:start;
    }

    .contenedores {
        justify-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    ::deep .contenedor-facebook {
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
    }

        ::deep .contenedor-facebook i {
            font-size: 40px;
            padding-bottom: 2px;
        }

    .contenedor-link-horario {
        display: flex;
        margin-top: 10px;
        align-content: center;
        gap: 10px;
    }

    .icon-link {
        text-decoration: none;
        outline: none;
    }

    .mail-texto, .frase-tel, .contenedor-link-horario horario-texto, .contenedor-link-horario .link-a-mapa,.contenedor-ubicacion, .clase-donde-estamos-pc {
        display: none;
    }

    ::deep .iconos-contacto {
        margin-top: 0px;
        padding-top:0;
        gap: 30px;
        display: flex;
        flex-direction: column;
  
    }

    ::deep .contenedor-tiktok {
        margin-top: 0px;
    }

    .ubicacion-frase {
        font-size: 16px;
    }

    .clase-donde-estamos-tablet{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .icono-horario {
        display: flex;
        flex-direction: row;
        gap:10px;
        align-self:center;
        text-wrap:pretty;
    }

    .icono-horario .link-a-mapa{
        width:32px;
        height:32px;
        margin-bottom:10px;
    }

    .horario-texto-tablet{
        align-self:center;
    }

    .icono-horario i {
        align-self: center;
        font-size: 20px;
        padding: 6px;
    }
    .telefono-seccion{
        margin-top:4px;
    }

    .telefono-seccion i, .contenedor i, .contenedor-tiktok i{
        align-self:center;
        padding:0;
        margin:0;
    }

    ::deep .map-shared {
        height: 130px;
        width: 300px;
        border-radius: 8px;
        grid-row:4;
    }
}