<div class="footer">

    <div class="redes-seccion">

        <h5 class="frase-redes">NUESTRAS REDES</h5>

        <div class="instagram-contenedor">
            <i class="bi bi-instagram"></i>
        </div>

        <div class="facebook-contenedor">
            <i class="bi bi-facebook"></i>
        </div>

        <div class="tiktok-contenedor">
            <i class="bi bi-tiktok"></i>
        </div>
    </div>

    <div class="clase-donde-estamos">

        <h5 class="frase-ubicacion">DONDE ESTAMOS</h5>

        <h5>
            Diagonal 73, 7526,
            La Plata
        </h5>

        <a href="#">
            <img src="" />
        </a>
    </div>

    <div class="atencion-seccion">

        <h5>ATENCIÓN</h5>

        <div class="telefono-seccion">

            <div class="contenedor-telefono">
                <i class="bi bi-telephone"></i>
            </div>

            <h6>221-566-555</h6>
        </div>

        <div class="mail-seccion">
            <i class="bi bi-envelope"></i>
            <h6>libneum@gmail.com</h6>
        </div>

        <div class="contenedor-ubicacion">
            <i class="bi bi-geo-alt-fill"></i>

            <h6>
                Lun a Sab
                09:00 a 20:00
            </h6>
        </div>
    </div>

</div>
@code {

}
