@rendermode InteractiveServer
@inject NavigationManager navigatorManager
@implements IDisposable

<div class="header">
       <div class="logo">
            <img src="https://i.postimg.cc/7ZkKL7v9/book-png.png" />
            <span class="nombre-logo fw-bold">Neumann</span>
       </div>

       <div class="search">
           <input class="buscador" placeholder="  Buscar Libros"/>
            <button class="lupa">
                <img src="https://i.postimg.cc/264C7Bwy/lupa-25px.png" />
            </button>
       </div>

       <div class="user-carrito-seccion">
           <div class="user-seccion">
               @if(sesion.Usuario == null)
                {
                    <a href="/iniciar-sesion" class="user">
                        <i class="bi bi-person-circle"></i>
                    </a>
                }

                @if (sesion.Usuario != null)
                {
                   <div class="datos-log-in" @onmouseenter="OnUser" @onclick="IrUsuario">
                            <i class="bi bi-person-circle"></i>
                            <p class="frase-hola">Hola @sesion.Usuario.Nombre!</p>

                    @if (mostrarLogOut)
                    {
                        <button class="btn-log-out" @onclick="CerrarSesion">
                            <i class="bi bi-box-arrow-left"></i>
                            <span>Log out</span>
                        </button>
                    }
                </div>
                }

           </div>
            
            <div class="carrito-pc-seccion" @onmouseenter="OnMouseHovered" @onmouseleave="OnMouseOut">
                <a href="/mi-carrito" class="carrito">
                    <i class="bi bi-cart4"></i>
                </a>
               <!--Si esta en hover el carrito y el usuario tiene libros guardados en el carrito-->
                @if (shoppingCart && sesion.Usuario == null)
                {
                    <div class="cuadro-carrito-vacio">
                        <p>Inicia sesion para ver tu carrito!</p>
                    </div>
                }
            <!--else if (shoppingCart && sesion.Usuario?.Carrito == null)
             {
                 <div class="cuadro-carrito-vacio">
                     <p>Aún no has guardado libros en tu carrito!</p>
                  </div>
             }
                else if (shoppingCart)
                {
                   <CarritoHoverComponent></CarritoHoverComponent>
                }-->
            </div>
           
       </div>
            
           <button class="hamburger-menu"
                @onclick = "ToggleMenu">

                    <div class="hamburguer-icon">
                        <i class="bi bi-list"></i>
                    </div>
           </button>

           @if(menuSeleccionado)
           {
                <SidebarComponent OnClose="CloseMenu"/>

           }

</div>


<div class="subheader">
    <div class="menu-header">
        <div class ="inicio ">
            <NavLink class="nav-link" href="/inicio">
                <span>INICIO</span>
            </NavLink>
        </div>
        <div class="catalogo">
            <NavLink class="nav-link" href="/catalogo">
                <span>CATÁLOGO</span>
            </NavLink>
        </div>
        <div class="nosotros">
            <NavLink class="nav-link" href="/nosotros">
                <span>NOSOTROS</span>
            </NavLink>
        </div>
        <div class="contacto">
            <NavLink class="nav-link" href="/contacto">
                <span>CONTACTO</span>
            </NavLink>
        </div>  
    </div>
</div>


@code {

    private bool menuSeleccionado;
    private bool shoppingCart;
    private bool mostrarLogOut;
    User usuario = new();
    [Inject] UserSession sesion { get; set; }

    private void CerrarSesion()
    {
        sesion.LogOut();
        navigatorManager.NavigateTo("/inicio");
    }

    private void CloseMenu()
    {
        menuSeleccionado = false;
    }

    private void ToggleMenu()
    {
        menuSeleccionado = !menuSeleccionado;

    }

    private void OnMouseHovered()
    {
        shoppingCart = true;
    }

    private void OnMouseOut()
    {
        shoppingCart = false;
    }

    private void OnUser()
    {
        mostrarLogOut = true;
    }

    private void OnUserOut()
    {
        mostrarLogOut = false;
    }

    protected override void OnInitialized()
    {
        sesion.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        sesion.OnChange -= StateHasChanged;
    }

    public void IrUsuario()
    {
        if(sesion.Usuario == null)
        {
            navigatorManager.NavigateTo("/iniciar-sesion");
        }
        else
        {
            navigatorManager.NavigateTo("/mis-datos");
        }
    }
}
