@rendermode InteractiveServer
<div class= "header">
       <div class="logo">
            <img src="https://i.postimg.cc/7ZkKL7v9/book-png.png" />
            <span class="nombre-logo fw-bold">Neumann</span>
       </div>

       <div class="search">
           <input class="buscador" placeholder="  Buscar Libros"/>
            <button class="lupa">
                <img src="https://i.postimg.cc/264C7Bwy/lupa-25px.png" />
            </button>
       </div>

       <button class="user">
         <i class="bi bi-person-circle"></i>
       </button>
      
       <button class="carrito">
         <i class="bi bi-cart4"></i>
       </button>

            
           <button class="hamburger-menu"
                @onclick = "ToggleMenu">

                    <div class="hamburguer-icon">
                        <i class="bi bi-list"></i>
                    </div>
           </button>

           @if(menuSeleccionado)
           {
                <SidebarComponent OnClose="CloseMenu"/>

           }

</div>


<div class="subheader ">
    <div class="menu-header">
        <div class ="inicio ">
            <NavLink class="nav-link" href="/inicio">
                <span>INICIO</span>
            </NavLink>
        </div>
        <div class="catalogo">
            <NavLink class="nav-link" href="/catalogo">
                <span>CATÁLOGO</span>
            </NavLink>
        </div>
        <div class="nosotros">
            <NavLink class="nav-link" href="/nosotros">
                <span>NOSOTROS</span>
            </NavLink>
        </div>
        <div class="contacto">
            <NavLink class="nav-link" href="/contacto">
                <span>CONTACTO</span>
            </NavLink>
        </div>  
    </div>
</div>


@code {

    private bool menuSeleccionado;

    private void CloseMenu()
    {
        menuSeleccionado = false;
    }


    private void ToggleMenu()
    {
        menuSeleccionado = !menuSeleccionado;

    }

}
