.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo {
    font-size: 30px;
    font-weight: 500;
    font-style:italic;
    font-family:serif;
}

.search {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.buscador {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user, .carrito, .lupa, .logo {
    cursor: pointer;
    padding-right:30px;
}

.bi-person-circle, .bi-cart4 {
    font-size: 45px;
}

.subheader {
    display: grid;
    background-color: white;
    padding: 0.75rem 18rem;
    border-block: solid;
    border-color: rgb(212, 212, 212, 0.4);
}

.menu-header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin-left:100px;
}

::deep .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

::deep .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
}

::deep .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

::deep .nav-link.active::after{
    transform: scaleX(1);
}

.hamburger-menu {
    display:none;
}

/*Diseño responsive IMPLEMENTAR MAS TARDE AL TERMINAR EL MAQUETADO*/
@media (max-width:500px) {

    .header {
        display:grid;
        grid-template-columns: auto auto auto auto;
        padding-right:15px;
        padding-left:5px;
        align-items:center;
        gap:4px;
        width:100%;
        height:100px;
    }

    .logo {
        margin-left: 20px;
        border-style:solid;
        border-color:black;
        width: fit-content;
        padding-right: 0;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .nombre-logo{
        font-size:20px;
    }

    .hamburger-menu {
        display:flex;
        flex-direction:column;
        width:20px;
        height:20px;
        justify-items:start;
        justify-content:start;
        border:none;
        background:none;
        padding-left:30px;
    }

    .hamburguer-icon i {
        border: none;
        background: none;
        display: flex;
        justify-self: start;
    }

    .subheader{
        display:none;
    }

    .menu-header-desplegable{
        content:"";
        border-style:solid;
        border-color:black;
        width:120px;
        height:150px;
        padding:5px;
        border-radius:8px;
        border-width:2px;
    }

    .search{
      width:60px;
      height:20px;
      display:flex;
      flex-direction:row;
      justify-items:center;
      padding-left:10px;
      border-style:solid;
      border-color:blue;
      width: fit-content;
      gap: 0;
    }

    .buscador {
        height: 20px;
        border-radius: 8px;
        width: fit-content;
        padding-left:0;
    }

    .lupa{
        width:fit-content;
        height:20px;
        border-color:black;
        border-style:solid;
        background-color:red;
        margin-left:1px;
    }

    .lupa img{
        height:14px;
        width:14px;
      
    }
}
