.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo {
    font-size: 30px;
    font-weight: 500;
    font-style:italic;
}

.search {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.buscador {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user, .carrito, .lupa, .logo {
    cursor: pointer;
    padding-right:30px;
}

.bi-person-circle, .bi-cart4 {
    font-size: 45px;
}


