
.hero {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 3rem;
    width:100%;
    padding: 3rem 3rem;
    margin-bottom:7rem;
}

.hero-texto{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:start;
   
}

.titulo-hero {
    font-size: 60px;
    font-family:serif;
    text-wrap: balance;
    max-width:200px;
}

.eslogan {
    font-size:40px;
    max-width:450px;
    font-weight:500;
    font-family:serif;

}

.btn-ver-libros {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
}

.hero-imagen img {
    width: 500px;
    height: 356px;
    object-fit: contain;
    border-radius: 60px;
}