
.pc-design {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 3rem 3rem;
    background-color: #937e5222;
}

.responsive-hero{
    display:none;
}

.hero-texto{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:start;
   
}

.titulo-hero {
    font-size: 60px;
    font-family:serif;
    text-wrap: balance;
    max-width:200px;
}

.eslogan {
    font-size:40px;
    max-width:450px;
    font-weight:500;
    font-family:serif;

}

.btn-ver-libros {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
}

.hero-imagen img {
    width: 500px;
    height: 356px;
    object-fit: contain;
    border-radius: 60px;
}

@media (max-width:580px) {

    .pc-design{
        display:none;
    }

    .responsive-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 3rem;
        gap:1rem;
        justify-content: space-between;
        align-items: safe center;
        background-color: #937e5222;
        min-height:0;
    }

    .img-eslogan{
       width:240px;
       height:248px;
    }

    .titulo-hero {
        font-size: 40px;
        font-family: serif;
        text-wrap: balance;
        text-align:center;
        max-width: 200px;
    }

    .hero-imagen {
        width: 250px;
        height: 160px;
        border-radius: 20px;
    }

    .eslogan {
        font-size: 22px;
        font-weight: 500;
        font-family: serif;
        text-wrap: pretty;
        text-align: center;
        max-width: 200px;
        margin-top:1rem;
        justify-self:center;
    }

    .btn-ver-libros {
        width: 150px;
        height: 34px;
        font-size:18px;
        align-items:end;
        margin-top:2rem;
    }
}