
.hero {
    flex: 1 0 auto;
}

.pc-design {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 3rem 3rem;
    background-color: #937e5222;
}

.responsive-hero{
    display:none;
}

.hero-texto{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:start;
   
}

.titulo-hero {
    font-size: 60px;
    font-family:serif;
    text-wrap: balance;
    max-width:200px;
}

.eslogan {
    font-size:40px;
    max-width:450px;
    font-weight:500;
    font-family:serif;

}

.btn-ver-libros {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
}

.hero-imagen img {
    width: 500px;
    height: 356px;
    object-fit: contain;
    border-radius: 60px;
}

/*Movile design*/
@media (max-width:580px) {

    .pc-design{
        display:none;
    }

    .responsive-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 3rem;
        gap:1rem;
        justify-content: space-between;
        align-items: safe center;
        background-color: #937e5222;
        min-height:0;
    }

    .img-eslogan{
       width:240px;
       height:248px;
    }

    .titulo-hero {
        font-size: 40px;
        font-family: serif;
        text-wrap: balance;
        text-align:center;
        max-width: 200px;
    }

    .hero-imagen {
        width: 250px;
        height: 160px;
        border-radius: 20px;
    }

    .eslogan {
        font-size: 22px;
        font-weight: 500;
        font-family: serif;
        text-wrap: pretty;
        text-align: center;
        max-width: 200px;
        margin-top:1rem;
        justify-self:center;
    }

    .btn-ver-libros {
        width: 150px;
        height: 34px;
        font-size:18px;
        align-items:end;
        margin-top:2rem;
    }
}

/*Tablet mini/ipads mini*/
@media (min-width:571px) and (max-width:860px)
{
    .responsive-hero {
        display: flex;
        flex-direction: column;
        background-color: #937e5222;
        width: 100%;
        min-height:60dvh;
        padding: 3rem 3rem;
        align-items:center;
        justify-content:center;
        gap:2rem;
    }

   .pc-design{
       display:none;
   }

   .titulo-hero{
       font-size:50px;
       font-weight:500;
       max-width:500px;
       text-wrap:nowrap;
       align-items:start;
   }

   .eslogan{
       font-size:34px;
       text-align:center;
       text-wrap:nowrap;
       max-width:500px;
   }

   .img-eslogan{
       gap:2rem;
       display:flex;
       flex-direction:column;
       align-content:center;
       justify-content:center;
   }
   .hero-imagen {
        width: 530px;
        height: 320px;
        border-radius:20px;
    }

    .btn-ver-libros{
        width:200px;
        height:50px;
        font-size:28px;
    }


}

/*Diseño tablets pro, grandes*/
@media (min-width:861px) and (max-width:1025px){

    .responsive-hero {
        display:flex;
        flex-direction:column;
        background-color: #937e5222;
        width: 100%;
        padding: 3rem 3rem;
        min-height:62dvh;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .pc-design {
        display: none;
    }

    .titulo-hero {
        font-size: 64px;
        font-weight: 500;
        max-width: 500px;
        text-wrap: nowrap;
        align-items: start;
    }

    .eslogan {
        font-size: 36px;
        text-align: center;
        text-wrap: nowrap;
        max-width: 500px;
    }

    .img-eslogan {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .hero-imagen {
        width: 550px;
        height: 340px;
        border-radius: 20px;
    }

    .btn-ver-libros {
        width: 200px;
        height: 60px;
        font-size: 28px;
    }

}