<div class="hero">

    <div class="hero-texto">
        <h1 class="titulo-hero">Biblioteca <br />
                                Neumann
         </h1>

        <h3 class="eslogan">Un lugar lleno de historias <br /> esperandote</h3>

        <button class="btn-ver-libros">Ver libros</button>
    </div>

    <div class="hero-imagen">
        <img src="https://i.postimg.cc/xTsZJfTz/library.jpg" alt="Libreria" />
    </div>

</div>

@code {

}
