<div class="hero">

    <div class="pc-design">
        <div class="hero-texto">
            <h1 class="titulo-hero">Biblioteca Neumann</h1>

            <h3 class="eslogan">Un lugar lleno de historias <br /> esperandote</h3>

            <button class="btn-ver-libros">Ver libros</button>
        </div>

        <div class="hero-imagen">
            <img src="https://i.postimg.cc/xTsZJfTz/library.jpg" alt="Libreria" />
        </div>
    </div>

    <div class="responsive-hero">
    
            <h1 class="titulo-hero">Biblioteca Neumann</h1>
        <div class="img-eslogan">
            <img src="https://i.postimg.cc/xTsZJfTz/library.jpg" alt="Libreria" class="hero-imagen" />

            <h3 class="eslogan">Un lugar lleno de historias esperandote</h3>
        </div>
            <button class="btn-ver-libros">Ver libros</button> 
    </div>

</div>

@code {

}
