<div class="inicio-sesion">
    <h1>Iniciar Sesión</h1>

    <div class="ingresos">

        <div class="ingreso-mail">
            <h4>Ingrese su mail</h4>
            <div class="clase-input-mail">
                <input type="email" class="ingreso-del-mail" />
            </div>
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Ingrese su constraseña</h4>
            <div class="clase-input-contraseña">
                <input type="password" class="ingreso-de-contraseña" />
            </div>
            <h5 class="olvidaste-contraseña">¿Olvidaste tu contraseña?</h5>
        </div>

        <br />

        <div class="clase-boton-inicio-sesion">
            <button class="boton-inicio-sesion">Iniciar Sesión</button>
        </div>

        <div class="clase-preguntar-cuenta">
            <h5 class="preguntar-cuenta">¿No tenes cuenta?</h5>
             <h5 class="frase-registrarme">Registrarme</h5>
        </div>

        <br />
        <div class="clase-captcha">
            <h4>aca va el captcha</h4>
        </div>

        <br />

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>
            <h5>Iniciar Sesión</h5>
        </div>
    </div>

</div>

@code {

}
