.inicio-sesion {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.inisesi-titulo {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.boton-inicio-sesion {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.boton-inicio-sesion:hover {
        border-color: rgb(128, 128, 128);
}

.olvidaste-contraseña {
    font-size: 14px;
    font-weight: 300;
    margin-left:21rem;
    margin-top:3rem;
}

::deep .nav-link-contraseña {
    display: block;
    margin-top: 10px;
}

.preguntar-registrar {
    display: flex;
    justify-items: start;
    gap: 10px;
    padding-top: 1rem;
}

::deep .frase-registrarme {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 77, 255);

}

::deep .frase-registrarme::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
        padding-top: 2px;
        margin-top: 26px;
}

::deep .frase-registrarme:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: rgb(0, 35, 248);
}

.frase-registrarme:hover {
    color: rgb(0, 35, 248);
}

.boton-preguntar-registrar{
    padding-top:1rem;
}