@page "/libro"
<div class="libro-seccion">
    <img src="https://i.postimg.cc/CM38mrH1/heartslayul-4.webp" alt="muestra-libro" />

    <div class="titulo-autor-comprar">

        <h1 class="titulo-libro-seccion"><strong>TWISTED WONDERLAND <br /> NO 4</strong></h1>

        <h4 class="autor-libro-seccion"><strong>Yana Toboso / Wakana Hadzuki /<br /> Sumire Kowono</strong></h4>

        <h4 class="precio-libro-seccion"><strong>$16.900,00</strong></h4>

        <h4 class="precio-cuotas-libro-seccion">4 x $4.225,00 sin interés</h4>

        <div class="cantidad-carrito">

            <div class="cuadro-cantidad">

                <button class="boton-cantidad-disminuir">
                    <i class="bi bi-caret-left-fill"></i>
                </button>

                <span class="uno"><strong>1</strong></span>

                <button class="boton-cantidad-aumentar">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>

            <button class="agregar-carrito">AGREGAR AL CARRITO</button>
        </div>
           

    </div>

    <div class="descripcion">

        <h4 class="frase-descripcion"><strong>Descripcion</strong></h4>

        <div class="editorial-seccion">
            <h5><strong>Editorial:</strong></h5>
            <h5>Planeta comic</h5>
        </div>

        <div class="fecha-publicacion-seccion">
            <h5><strong>Fecha publicación:</strong></h5>
            <h5>2024</h5>
        </div>

        <div class="num-pag-seccion">
            <h5><strong>Núm. páginas:</strong></h5>
            <h5>200</h5>
        </div>

        <div class="sinopsis-seccion">
            <h5><strong>Sinopsis</strong></h5>

            <div class="parrafo-sinopsis">
                <p class="descripcion-parrafo">Yuu es un estudiante de instituto a quien convocan al mundo paralelo de Twisted Wonderland 
                    'El país enrevesado de las maravillas-, y que acaba convirtiéndose en el supervisor de una residencia desastrada del Instituto Night Raven. ¡La magia y
                    las emociones de Riddle, el rector de la casa Heartslabyul, se desbocan y éste sufre una sobremácula! ¿Podrá Yuu enfrentarse a Riddle trabajando en equipo con Grimm, Ace, Deuce, Trey y Cater?
                </p>
            </div>
        </div>

    </div>
</div>

@code {

}
