<div class="libro-seccion">
    <img src="" />

    <div class="titulo-autor-comprar">
        <h2>Titulo</h2>
        <h4>Autor</h4>

        <div class="cuadro-cantidad">
            <button class="boton-cantidad">1</button>
            <div class="flecha-cantidad-1">
                <i class="bi bi-caret-left-fill"></i>
            </div>
            <div class="flecha-cantidad-2">
                <i class="bi bi-caret-left-fill"></i>
            </div>
        </div>

        <button class="agregar-carrito">AGREGAR AL CARRITO</button>

    </div>

    <div class="descripcion">
        <h5><strong>Descripcion</strong></h5>
        <div class="editorial-seccion">
            <h5><strong>Editorial</strong></h5>
            <p>nombre editorial</p>
        </div>

        <div class="fecha-publicacion-seccion">
            <h5><strong>Fecha publicación</strong></h5>
            <p>fecha publicacion</p>
        </div>

        <div class="num-pag-seccion">
            <h5><strong>Núm. páginas</strong></h5>
            <p>numero</p>
        </div>

        <div class="sinopsis-seccion">
            <h5><strong>Sinopsis</strong></h5>
            <div class="parrafo-sinopsis">
                <p>descripcion...</p>
            </div>
        </div>

    </div>
</div>

@code {

}
