.libro-seccion{
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    width:100%;
    align-items:center;
    padding: 3rem 3rem;
    padding-top:1rem;

}

.libro-seccion img{
    display:flex;
    justify-items:start;
    width:330px;
    height:480px;
}

.titulo-autor-comprar {
    align-items: center;
    align-content: start;
    margin-bottom: 4rem;
    padding-right:12rem;
}

.titulo-libro-seccion{
    font-weight:500;
}

.autor-libro-seccion, .precio-libro-seccion, .precio-cuotas-libro-seccion {
    padding-top: 1rem;
}

.cuadro-cantidad {
    display: flex;
    background-color: white;
    border-color: rgb(212, 212, 221);
    border-style:solid;
    border-width:2px;
    width:100px;
    height:40px;
    justify-content: space-between;
    align-items:center;
    margin-top:1rem;
}

.agregar-carrito {
    border-color: rgb(212, 212, 212);
    background-color: rgb(244, 152, 117);
    color: white;
    width: 300px;
    height: 40px;
    margin-top:1rem;
}

.boton-cantidad-disminuir, .boton-cantidad-aumentar{
    border:none;
    background-color:white;
}

.boton-cantidad-disminuir:hover, .boton-cantidad-aumentar:hover {
    color: rgb(128, 128, 128);
}

.agregar-carrito:hover {
    border-color: rgb(128, 128, 128);
}

.cantidad-carrito {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap:2rem;
}


.descripcion {
    display: grid;
    justify-items:start;
    gap: 10px;
    padding-top:2rem;
    grid-column:1/-1;
}

.editorial-seccion, .fecha-publicacion-seccion, .num-pag-seccion{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

/*Diseño movile*/
@media (max-width:580px){
    .libro-seccion {
        display: flex;
        flex-direction:column;
        width: 100%;
        align-items: center;
        align-content:center;
        padding: 2rem 2rem;
    }

    .libro-seccion img {
            display: flex;
            justify-items: start;
            width: min(400px,90%);
            height: max(450px, 500px);
    }

    .titulo-autor-comprar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 0;
        padding-right: 0;
        margin-top: 1rem;
        width:100%;
    }

    .titulo-libro-seccion{
        font-size:26px;
        align-self:start;
    }

    h4, h5{
        font-size:18px;
        align-self:start;
    }

    .precio-libro-seccion, .precio-cuotas-libro-seccion, .frase-descripcion{
        font-size:20px; 
    }

    .cantidad-carrito{
        display:flex;
        flex-direction:column;
        width:100%;
    }

    .cuadro-cantidad{
        display:flex;
        flex-direction:row;
        align-self:center;
        width:100%;
        height:44px;
        font-size:22px;
    }

    .bi-caret-left-fill, .bi-caret-right-fill{
        font-size:22px;
    }

    .agregar-carrito {
        display: flex;
        flex-direction: column;
        justify-self: end;
        justify-content:center;
        width: 100%;
        height:48px;
        font-size:20px;
        font-weight:500;
        margin-top:0;
    }

    .descripcion-parrafo{
        font-size:18px;
    }
}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:1025px){
    .libro-seccion {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
        width: 100%;
        align-items: center;
        padding: 2rem 2rem;
    }

    .titulo-autor-comprar{
        display:grid;
        grid-column:2;
        align-content:start;
        width:100%;
     
        padding: 1rem 1rem;
    }

    .agregar-carrito{
        width: max(200px, 180px);
        height: 50px;
        font-size:17px;
        font-weight:500;
    }

    .cuadro-cantidad {
        width: max(120px, 100px);
        height: 50px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

    h4, .uno, .bi-caret-left-fill, .bi-caret-right-fill{
        font-size:24px;
    }


    h5, .descripcion-parrafo{
        font-size:22px;
    }

    .libro-seccion img {
        display: flex;
        justify-items: start;
        width: min(420px,350px);
        height: min(500px, 480px);
    }

}
