.cuadro-conf {
    border: 2px solid #4caf50; /*borde interno*/
    outline: 2px solid #ff6a00ff; /*externo borde*/
    outline-offset: 8px; /*ancho del contorno*/
    border-radius: 6px;
    padding: 2.5rem 2rem;
    text-align: center;
    margin: 2rem auto;
    max-width: 480px;
}

.pedido-confirmado{
    display:flex;
    flex-direction:column;
    padding: 3rem 3rem;
}

.check-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.check-svg {
    width: 60px;
    height: 60px;
}

.check-circulo {
    stroke: #4caf50;
    stroke-width: 2;
    stroke-dasharray: 151; /* aprox. el perímetro del círculo (2 * π * r) */
    stroke-dashoffset: 151;
    animation: dibujar-circulo 0.5s ease-out forwards;
}

.check-palito {
    stroke: #4caf50;
    stroke-width: 5; /*ancho de la linea del palito*/
    stroke-linejoin: round;
    stroke-dasharray: 33;
    stroke-dashoffset: 33;
    animation: dibujar-palito 0.3s ease-out 0.5s forwards;
}

@keyframes dibujar-circulo {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dibujar-palito {
    to {
        stroke-dashoffset: 0;
    }
}

.letra{
    display:inline-block;
    opacity:0;
    animation: aparecer-letra 0.3s ease-out forwards;
    white-space: pre /*respeta espacios*/;
}

.volver-cat{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:1rem;
}

@keyframes aparecer-letra{
    from{
        opacity:0;
        transform: translateY(4px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.btn-seguir {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.texto-aparece{
    animation: ease-out 0.5s forwards;
}

@keyframes dibuja-texto{
    to{
        stroke-dashoffset:0;
    }
}