<div class="registrarse">
    <h1>Registrate</h1>

    <div class="ingresos">
        <div class="ingreso-nombre">
            <h4>Ingrese su nombre</h4>
            <div class="clase-input-nombre">
                <input type="text" class="ingreso-del-nombre" />
            </div>
        </div>

        <br />

        <div class="ingreso-apellido">
            <h4>Ingrese su apellido</h4>
            <div class="clase-input-apellido">
                <input type="text" class="ingreso-del-apellido" />
            </div>
        </div>

        <br />

        <div class="ingreso-mail">
            <h4>Ingrese su mail</h4>
            <div class="clase-input-mail">
                <input type="email" class="ingreso-del-mail" />
            </div>
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Ingrese su constraseña</h4>
            <div class="clase-input-contraseña">
                <input type="password" class="ingreso-de-contraseña" />
            </div>
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Confirme su constraseña</h4>
            <div class="clase-input-contraseña">
                <input type="password" class="ingreso-de-contraseña" />
            </div>
        </div>

        <br />

        <div class="clase-boton-registrarse">
            <button class="boton-registrarse">Registrarse</button>
        </div>

        <br />
        <div class="clase-captcha">
            <h4>aca va el captcha</h4>
        </div>

        <br />

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>
            <h5>Inicia Sesión</h5>
        </div>
    </div>

</div>

@code {

}
