<div class="registrarse">
    <h1 class="titulo-registrarse-seccion">Registrate</h1>

    <div class="ingresos">

            <h4>Ingrese su nombre</h4>
            <input type="text" class="ingreso" />

            <h4>Ingrese su apellido</h4>
            <input type="text" class="ingreso" />
            
            <h4>Ingrese su mail</h4>
             <input type="email" class="ingreso" />
            
             <h4>Ingrese su constraseña</h4>
             <input type="password" class="ingreso" />

                <h4>Confirme su constraseña</h4>
                <input type="password" class="ingreso" />
    </div>

        <button class="boton-registrarse">Registrarse</button>

        <div class="clase-captcha">
            <h4>aca va el captcha</h4>
        </div>

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>
                <NavLink class="inicia-sesion-frase">
                    <span class="texto-inicia-sesion">Iniciar Sesión</span>
                </NavLink>
   
       
        </div>

</div>

@code {

}
