@page "/registrarme"
@using LibreriaNeumann.Models
@using Microsoft.Extensions.Validation
@rendermode InteractiveServer
@inject IJSRuntime JS

<EditForm Model="Usuario" OnValidSubmit="Registrar">
    <DataAnnotationsValidator />
    <ValidationSummary/>
<div class="registrarse">
    <h1 class="titulo-registrarse-seccion">Registrate</h1>

            <div class="ingresos">

                <h4>Ingrese su nombre</h4>
                <input type="text" class="ingreso" @bind-value="Usuario.Nombre"/>
                <ValidationMessage For="() => Usuario.Nombre"/>

                <h4>Ingrese su apellido</h4>
                <input type="text" class="ingreso" @bind-value="Usuario.Apellido"/>
                <ValidationMessage For="() => Usuario.Apellido"/>

                <h4>Ingrese su mail</h4>
                <input type="email" class="ingreso" @bind-value="Usuario.Email"/>
                <ValidationMessage For="() => Usuario.Email"/>

                <h4>Ingrese su constraseña</h4>
                <input type="password" class="ingreso" @bind-value="Usuario.Constrasenia"/>
                <ValidationMessage For="() => Usuario.Constrasenia"/>

                <h4>Confirme su constraseña</h4>
                <input type="password" class="ingreso" @bind-value="Usuario.ConfirmContrasenia"/>
                <ValidationMessage For="() => Usuario.ConfirmContrasenia"/>
            </div>
   
    <button class="boton-registrarse" type="submit">Registrarse</button>
    
        @if(@color=="verde")
        {
            <p class="text-success">@mensaje</p>
        }
        else if(@color=="red")
        {
            <p class="text-danger">@mensaje</p>
        }

        <div class="clase-captcha">
            <div class="g-recaptcha"></div>
        </div>

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>
                <NavLink class="inicia-sesion-frase">
                    <a href="/iniciar-sesion" class="texto-inicia-sesion">Iniciar Sesión</a>
                </NavLink>
        </div>
</div>
</EditForm>

@code {
    [Inject] ReCaptcha Captcha{ get; set; }
    [Inject] PasswordHash PasswordHash { get; set; }
    [Inject] AppDbContext Db { get; set; }
    public string mensaje = "";
    public string color = "";

    SignUpModel Usuario = new ();

    async Task Registrar()
    {
        var token = await JS.InvokeAsync<string>("getCaptchaToken");

        var valido = await Captcha.Validate(token);

        if (!valido)
        {
            Console.WriteLine("Captcha no válido");
            return;
        }

        if (Db.Users.Any(User => User.Email.Equals(Usuario.Email)))
        {
            mensaje = "El mail ya está registrado";
            color = "red";
            StateHasChanged();
            return;
        }

        var user = new User
        {
            Nombre = Usuario.Nombre,
            Apellido = Usuario.Apellido,
            Email = Usuario.Email,
            HashPassword = PasswordHash.Hash(Usuario.Constrasenia),
            Rol = "Cliente"
        };

        Db.Users.Add(user);
        await Db.SaveChangesAsync();
        mensaje = "Usuario correctamente registrado!";
        color = "verde";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("renderCaptcha");
        }
    }
}
