<div class="registrarse">
    <h1 class="titulo-registrarse-seccion">Registrate</h1>

    <div class="ingresos">

        <div class="ingreso-nombre">
            <h4>Ingrese su nombre</h4>
                <input type="text" class="ingreso" />
        </div>

        <br />

        <div class="ingreso-apellido">
            <h4>Ingrese su apellido</h4>
            <input type="text" class="ingreso" />
        </div>

        <br />

        <div class="ingreso-mail">
            <h4>Ingrese su mail</h4>
             <input type="email" class="ingreso" />
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Ingrese su constraseña</h4>
             <input type="password" class="ingreso" />
        </div>

        <br />

        <div class="ingreso-contraseña">
            <h4>Confirme su constraseña</h4>
            <input type="password" class="ingreso" />
        </div>

        <br />

        <button class="boton-registrarse">Registrarse</button>

        <br />
        <div class="clase-captcha">
            <h4>aca va el captcha</h4>
        </div>

        <br />

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>

            <NavLink class="inicia-sesion-frase">
                <span class="texto-inicia-sesion">Inicia Sesión</span>
            </NavLink>
       
        </div>
    </div>

</div>

@code {

}
