@page "/registrarme"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="registrarse">
    <h1 class="titulo-registrarse-seccion">Registrate</h1>

    <div class="ingresos">

            <h4>Ingrese su nombre</h4>
            <input type="text" class="ingreso" />

            <h4>Ingrese su apellido</h4>
            <input type="text" class="ingreso" />
            
            <h4>Ingrese su mail</h4>
             <input type="email" class="ingreso" />
            
             <h4>Ingrese su constraseña</h4>
             <input type="password" class="ingreso" />

                <h4>Confirme su constraseña</h4>
                <input type="password" class="ingreso" />
    </div>

    <button class="boton-registrarse" @onclick="Registrar">Registrarse</button>

        <div class="clase-captcha">
            <div class="g-recaptcha"></div>
        </div>

        <div class="clase-preguntar-cuenta">
            <h5>¿Ya tenés una cuenta?</h5>
                <NavLink class="inicia-sesion-frase">
                    <span class="texto-inicia-sesion">Iniciar Sesión</span>
                </NavLink>
   
       
        </div>

</div>

@code {
    [Inject] ReCaptcha Captcha{ get; set; }

    async Task Registrar()
    {
        var token = await JS.InvokeAsync<string>("getCaptchaToken");

        var valido = await Captcha.Validate(token);

        if (!valido)
        {
            Console.WriteLine("Captcha no válido");
            return;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("renderCaptcha");
        }
    }
}
