.registrarse {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 2rem;
}

.ingresos{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.clase-captcha {
    margin-top:1rem;
}


.titulo-registrarse-seccion{
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.boton-registrarse {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.boton-registrarse:hover {
    border-color: rgb(128, 128, 128);
}

.clase-preguntar-cuenta{
    display:flex;
    justify-items:start;
    gap:10px;
}

::deep .inicia-sesion-frase {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 77, 255);
    padding-top:2px;
}

::deep .inicia-sesion-frase::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background-color: #0d6efd;
     transform: scaleX(1);
     transform-origin: right;
     transition: transform 0.25s ease-in-out;
     padding-top:2px;
     margin-bottom:7px;
}

::deep .inicia-sesion-frase:hover::after {
     transform: scaleX(1);
     transform-origin: left;
     background-color: rgb(0, 35, 248);
}

.texto-inicia-sesion:hover {
    color: rgb(0, 35, 248);
}

/*Movile design*/
@media (max-width:570px){
    .registrarse {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 1em 1rem;
        gap: 1.5rem;
    }

    .bi-person-circle {
        display: none;
    }

    .ingresos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ingreso {
        width: 100%;
    }

    .ingreso-contraseña, .ingreso-mail {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .clase-preguntar-cuenta {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-wrap:nowrap;
        font-size:20px;
        align-items:center;
    }

    ::deep .inicia-sesion-frase {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        align-self: start;
    }

    ::deep .texto-inicia-sesion {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
        font-size: 20px;
    }

    .olvidaste-contraseña {
        justify-content: start;
        margin-top: 6px;
    }

    .preguntar-cuenta {
        font-size: 18px;
    }

    .nav-link-registrarme {
        margin-top: 0;
    }

    .frase-registrarme {
        padding-bottom: 0px;
        margin-top: 0px;
    }

    .boton-preguntar-registrar {
        justify-content: end;
    }
}

/*Diseño Tablets mini/air y ipads grandes*/
@media (min-width:571px) and (max-width:1025px){
    .registrarse {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        padding-top: 1rem;
        gap: 2rem;
    }

    .ingresos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .clase-preguntar-cuenta, h5{
        display:flex;
        flex-direction:row;
        font-size:24px;
    }

    ::deep .inicia-sesion-frase {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        align-self: start;
    }

    ::deep .texto-inicia-sesion {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
    }

    .boton-registrarse{
        font-size:24px;
        height:50px;
    }

}

