.menu-header-desplegable {
    position: absolute;
    top: 100%;
    left:0;
    z-index: 9999;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-items:start;
}

/* En desktop NO se muestra */
@media (min-width: 791px) {
    .menu-header-desplegable {
        display: none;
    }
}
