
<div class="menu-header-desplegable">

    <div class="inicio">
        <NavLink class="nav-link" href="/inicio">
            <span>INICIO</span>
        </NavLink>
    </div>

    <div class="catalogo">
        <NavLink class="nav-link" href="/catalogo">
            <span>CATÁLOGO</span>
        </NavLink>
    </div>

    <div class="nosotros">
        <NavLink class="nav-link" href="/nosotros">
            <span>NOSOTROS</span>
        </NavLink>
    </div>

    <div class="contacto">
        <NavLink class="nav-link" href="/contacto">
            <span>CONTACTO</span>
        </NavLink>
    </div>

</div>

@code {

}
