@rendermode InteractiveServer 

<div class="menu-header-desplegable">
    <NavLink class="nav-link" href="/inicio" @onclick="Close">INICIO</NavLink>
    <NavLink class="nav-link" href="/catalogo" @onclick="Close">CATÁLOGO</NavLink>
    <NavLink class="nav-link" href="/nosotros" @onclick="Close">NOSOTROS</NavLink>
    <NavLink class="nav-link" href="/contacto" @onclick="Close">CONTACTO</NavLink>
</div>


@code {
    private bool ClickDetected=true;

    [Parameter]
    public EventCallback OnClose { get; set; }

    protected async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}
