<div class="sobre-nosotros">
    <div class="titulo-sobre-nosotros">
        <h1>Sobre nosotros</h1>
        <br />
        <h4>
            La libreria Neumann desde los años 1986 lleva cautivando a la gente con libros desde los más
            tradicionales hasta los más modernos.
        </h4> <br />
        <h4>
            Nuestro principio es brindarle al lector una experiencia única con libros que conquistarán su corazón.
        </h4> <br />
        <h4>
            Desde fantasía, economía, suspenso, infantiles, sci-fi, tenemos gran variedad porque sabemos
            que tener un amplio repertorio es muy importante para nuestros lectores.
        </h4>
    </div>

</div>

@code {

}
