.sobre-nosotros {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        padding-top: 1rem;
        gap: 10px;
}

.parrafo{
    text-wrap: wrap;

    text-align:justify;
}

@media (max-width:768px)
{
    .parrafo{
        font-size:16px;
        text-wrap:auto;
        text-align:justify;
        max-width:100%;
        max-height:100%;
 
    }
}