.seccion-cambiar-datos[b-9c4epm92vh] {
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.frase-cambio-datos-usuario[b-9c4epm92vh] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-seccion-inputs[b-9c4epm92vh]{
    display:flex;
    flex-direction:row; 
    gap:2rem;
    justify-content:space-between;
}

.input-cambiar-datos[b-9c4epm92vh]{
    width:400px;
}

.input-telefono[b-9c4epm92vh], .input-altura[b-9c4epm92vh]{
    width:200px;
}
.guardar-datos-boton[b-9c4epm92vh] {
    grid-column: 2;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(244, 152, 117);
    font-weight: 600;
    font-family: sans-serif;
}

.datos-personales[b-9c4epm92vh], .datos-contacto[b-9c4epm92vh], .datos-ubicacion[b-9c4epm92vh]{
  
}