.carrito-hover[b-8g0gqjtdyx] {
    display: none;
    grid-template-columns: auto;
    width: 500px;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 2px;
    border-style:solid;
    border-color:black;
}

.titulo-carrito[b-8g0gqjtdyx] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito img[b-8g0gqjtdyx]{
    width:80px;
    height:120px;
    border-radius:10px;
    
    background:none;
    margin-left:12px;
}

.datos-libro-carrito[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 140px;
    margin-top: 2px;
}

.titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx]{
    font-size:20px;
    text-wrap:balance;
}

.titulo-precio[b-8g0gqjtdyx]{
    display:flex;
    justify-content:center;
    gap: 14px;
    padding-left: 12px;
}

.precio-carrito[b-8g0gqjtdyx]{
    padding-top:20px;
}

.bi-trash[b-8g0gqjtdyx]{
    display:flex;
    justify-items:end;
    margin-bottom:6rem;
    padding: 4px;
    font-size:22px;
}

.seccion-compra-botones[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
}

.frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
    font-weight: 600;
    font-size: 28px;
}

.total-clase[b-8g0gqjtdyx] {
    display: flex;
    justify-content: space-evenly;
    padding-top:20px;
}

.boton-comprar[b-8g0gqjtdyx] {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

    .boton-comprar:hover[b-8g0gqjtdyx] {
        border-color: rgb(128, 128, 128);
        border-width: 2px;
        background-color: rgb(245, 128, 84);
    }

.boton-basura-carrito[b-8g0gqjtdyx] {
    border:none;
    background:none;
}


/*Seccion carrito full screen*/
.carrito-full-screen[b-8g0gqjtdyx] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    width: 100%;
}

.titulo-carrito[b-8g0gqjtdyx] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito[b-8g0gqjtdyx]{
    width:70%;
    height:60%;
}

.datos-libro-carrito:hover[b-8g0gqjtdyx]{
    background-color:rgb(238, 184, 162);
}

.titulo-precio[b-8g0gqjtdyx] {
    align-items: center;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.precio-carrito[b-8g0gqjtdyx] {
    padding-top: 0px;
}

.seccion-compra-botones[b-8g0gqjtdyx]{
    width:70%;
}

/*Diseño movil*/
@media (max-width:570px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 60%;
    }

    .datos-libro-carrito:hover[b-8g0gqjtdyx] {
        background-color: rgb(238, 184, 162);
     }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx]{
        display:flex;
        flex-direction:column;
        gap: 10px;
    }

}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 60%;
    }

        .datos-libro-carrito:hover[b-8g0gqjtdyx] {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx]{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
        font-size: 26px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
        font-size: 32px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        font-size: 24px;
        height: fit-content;
    }
}

/*Diseño tablets pro, grandes*/
@media (min-width:852px) and (max-width:1024px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 12vh;
    }

    .datos-libro-carrito img[b-8g0gqjtdyx]{
        width:100px;
        height: 140px;
    }

        .datos-libro-carrito:hover[b-8g0gqjtdyx] {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width:100%;
        height:fit-content;
    }

    .bi-trash[b-8g0gqjtdyx] {
        display: flex;
        justify-items: end;
        margin-bottom: 6rem;
        padding: 4px;
        font-size: 26px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx]{
        font-size: 26px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx]{
        font-size:32px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        font-size: 28px;
        height: fit-content;
    }
}