

/*Seccion carrito full screen para pc*/
.carrito-full-screen[b-8g0gqjtdyx] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    width: 100%;
}

.titulo-carrito[b-8g0gqjtdyx] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito[b-8g0gqjtdyx]{
    width:70%;
    height:40%;
    padding: 4px 3px;
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    gap:10px;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    margin-top: 2px;
}


    .datos-libro-carrito img[b-8g0gqjtdyx] {
        width: 90px;
        height: 140px;
        border-radius: 10px;
        background: none;
        margin-left: 12px;
    }


.datos-libro-carrito:hover[b-8g0gqjtdyx]{
    background-color:rgb(238, 184, 162);
}

.titulo-precio[b-8g0gqjtdyx] {
    align-items: center;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
    font-size: 20px;
    text-wrap: balance;
}

.precio-carrito[b-8g0gqjtdyx] {
    padding-top: 0px;
}

.seccion-compra-botones[b-8g0gqjtdyx] {
    width: 70%;
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
}

.lista-libros-carrito[b-8g0gqjtdyx]{
    display:flex;
    flex-direction:column;
}

.boton-comprar[b-8g0gqjtdyx] {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

.boton-comprar:hover[b-8g0gqjtdyx] {
    border-color: rgb(128, 128, 128);
    border-width: 2px;
    background-color: rgb(245, 128, 84);
}

.boton-basura-carrito[b-8g0gqjtdyx] {
    border: none;
    background: none;
}

.frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
    font-weight: 600;
    font-size: 28px;
}

.total-clase[b-8g0gqjtdyx] {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.bi-trash[b-8g0gqjtdyx] {
    display: flex;
    justify-items: end;
    margin-bottom: 6rem;
    padding: 4px;
    font-size: 22px;
}

/*Diseño para detalles de pago*/
.carrito-detalles-pago[b-8g0gqjtdyx] {
    width: 420px;
    padding: 1rem 1rem;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.titulo-carrito[b-8g0gqjtdyx] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito img[b-8g0gqjtdyx] {
    width: 80px;
    height: 120px;
    border-radius: 10px;
    background: none;
    margin-left: 12px;
}

.datos-libro-carrito[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    margin-top: 2px;
    width:100%;
}

.titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
    font-size: 20px;
    text-wrap: balance;
}

.titulo-precio[b-8g0gqjtdyx] {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-left: 12px;
}

.precio-carrito[b-8g0gqjtdyx] {
    padding-top: 20px;
}

.bi-trash[b-8g0gqjtdyx] {
    display: flex;
    justify-items: end;
    margin-bottom: 6rem;
    padding: 4px;
    font-size: 22px;
}

.seccion-compra-botones[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    margin-top: 2px;
    width:100%;
}

.frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
    font-weight: 600;
    font-size: 28px;
}

.total-clase[b-8g0gqjtdyx] {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.boton-comprar[b-8g0gqjtdyx] {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

    .boton-comprar:hover[b-8g0gqjtdyx] {
        border-color: rgb(128, 128, 128);
        border-width: 2px;
        background-color: rgb(245, 128, 84);
    }

.boton-basura-carrito[b-8g0gqjtdyx] {
    border: none;
    background: none;
}


/*Diseño movil*/
@media (max-width:570px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 60%;
    }

    .datos-libro-carrito:hover[b-8g0gqjtdyx] {
        background-color: rgb(238, 184, 162);
     }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx]{
        display:flex;
        flex-direction:column;
        gap: 10px;
    }

}

/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 60%;
    }

        .datos-libro-carrito:hover[b-8g0gqjtdyx] {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx]{
        display:flex;
        flex-direction:column;
        gap:4px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
        font-size: 26px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
        font-size: 32px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        font-size: 24px;
        height: fit-content;
    }

    /*Carrito para seccion detañlles de pago*/
    .carrito-detalles-pago[b-8g0gqjtdyx] {
        display:flex;
        flex-direction:column;
        width: 350px;
        padding: 1rem 1rem;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        gap:4px;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito img[b-8g0gqjtdyx] {
        width: 60px;
        height: 86px;
        border-radius: 10px;
        background: none;
        margin-left: 12px;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        border-color: rgb(244, 152, 117);
        border-width: 2px;
        border-style: solid;
        background: rgb(212, 212, 212, 0.6);
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        align-content: center;
        width: 100%;
        height:110px;
        gap:4px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
        font-size: 16px;
        text-wrap: pretty;
    }

    .titulo-precio[b-8g0gqjtdyx] {
        display: flex;
        justify-content:space-between;
    }

    .bi-trash[b-8g0gqjtdyx] {
        display: flex;
        justify-items: end;
        margin-bottom: 4rem;
        padding: 4px;
        font-size: 20px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        border-color: rgb(244, 152, 117);
        border-width: 2px;
        border-style: solid;
        margin-top: 2px;
        width: 100%;
        height:70px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
        font-weight: 600;
        font-size: 24px;
    }

    .total-clase[b-8g0gqjtdyx] {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        background-color: rgb(244, 152, 117);
        color: white;
        border-style: solid;
        border-color: rgb(244, 152, 117);
        font-weight: 500;
        width: 100%;
        align-content: center;
    }

        .boton-comprar:hover[b-8g0gqjtdyx] {
            border-color: rgb(128, 128, 128);
            border-width: 2px;
            background-color: rgb(245, 128, 84);
        }

    .boton-basura-carrito[b-8g0gqjtdyx] {
        border: none;
        background: none;
    }
}

/*Diseño tablets pro, grandes*/
@media (min-width:852px) and (max-width:1024px){

    .carrito-full-screen[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 3rem;
        width: 100%;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        width: 100%;
        height: 12vh;
    }

    .datos-libro-carrito img[b-8g0gqjtdyx]{
        width:100px;
        height: 140px;
    }

        .datos-libro-carrito:hover[b-8g0gqjtdyx] {
            background-color: rgb(238, 184, 162);
        }

    .titulo-precio[b-8g0gqjtdyx] {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .precio-carrito[b-8g0gqjtdyx] {
        padding-top: 0px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        width: 100%;
    }

    .lista-libros-carrito[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width:100%;
        height:fit-content;
    }

    .bi-trash[b-8g0gqjtdyx] {
        display: flex;
        justify-items: end;
        margin-bottom: 6rem;
        padding: 4px;
        font-size: 26px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx]{
        font-size: 26px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx]{
        font-size:32px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        font-size: 28px;
        height: fit-content;
    }


    /*Carrito para seccion detañlles de pago*/
    .carrito-detalles-pago[b-8g0gqjtdyx] {
        display: flex;
        flex-direction: column;
        width: 350px;
        padding: 1rem 1rem;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        gap: 4px;
    }

    .titulo-carrito[b-8g0gqjtdyx] {
        align-self: start;
        font-family: serif;
        font-weight: 500;
    }

    .datos-libro-carrito img[b-8g0gqjtdyx] {
        width: 60px;
        height: 86px;
        border-radius: 10px;
        background: none;
        margin-left: 12px;
    }

    .datos-libro-carrito[b-8g0gqjtdyx] {
        border-color: rgb(244, 152, 117);
        border-width: 2px;
        border-style: solid;
        background: rgb(212, 212, 212, 0.6);
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 110px;
        gap: 4px;
    }

    .titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx] {
        font-size: 16px;
        text-wrap: pretty;
    }

    .titulo-precio[b-8g0gqjtdyx] {
        display: flex;
        justify-content: space-between;
    }

    .bi-trash[b-8g0gqjtdyx] {
        display: flex;
        justify-items: end;
        margin-bottom: 4rem;
        padding: 4px;
        font-size: 20px;
    }

    .seccion-compra-botones[b-8g0gqjtdyx] {
        border-color: rgb(244, 152, 117);
        border-width: 2px;
        border-style: solid;
        margin-top: 2px;
        width: 100%;
        height: 70px;
    }

    .frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
        font-weight: 600;
        font-size: 24px;
    }

    .total-clase[b-8g0gqjtdyx] {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .boton-comprar[b-8g0gqjtdyx] {
        background-color: rgb(244, 152, 117);
        color: white;
        border-style: solid;
        border-color: rgb(244, 152, 117);
        font-weight: 500;
        width: 100%;
        align-content: center;
    }

        .boton-comprar:hover[b-8g0gqjtdyx] {
            border-color: rgb(128, 128, 128);
            border-width: 2px;
            background-color: rgb(245, 128, 84);
        }

    .boton-basura-carrito[b-8g0gqjtdyx] {
        border: none;
        background: none;
    }
}