.catalogo[b-q5pyqb11by] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top:1rem;
    gap:10px;
}

.titulo-catalogo[b-q5pyqb11by]{
    align-self:start;
    font-family: serif;
    font-weight:500;
}

.menu-catalogo[b-q5pyqb11by] {
    display: grid;
    align-self: start;
    align-content: center;
    margin-top: 5px;
    grid-column: 1;
    gap: 10px;
}

.botones-catalogo[b-q5pyqb11by] {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    border: 2px solid rgb(212, 212, 212);
    font-size: 18px;
    font-family: serif;
    font-weight:200;
    cursor:pointer;
}

.botones-catalogo:hover[b-q5pyqb11by] {
   border-color: rgb(244, 152, 117);
}

 .botones-catalogo:hover i[b-q5pyqb11by] {
        color: rgb(244, 152, 117);
}

.lista-libros[b-q5pyqb11by] {
    display:grid;
    align-items:center;
    align-content:start;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    width:900px;
    height:600px;
    margin-bottom:2rem;
}

.cuadro-libro[b-q5pyqb11by] {
    display: grid;
    width: 200px;
    height: 600px;
    align-self: start;
    padding: 2px;
    

}

.cuadro-libro img[b-q5pyqb11by]{
    width:200px;
    height:350px;
    object-fit:cover;
}

.boton-comprar-libro[b-q5pyqb11by] {
    background-color: rgb(244, 152, 117);
    border:none;
    color:white;
    font-family: Arial;
    font-weight:600;
    width:100%;
    height:40px;
    align-self:end;
}

.boton-comprar-libro:hover[b-q5pyqb11by]{
    border-color: rgb(212, 212, 212);
    border-style:solid;
}

.titulo-libro-catalogo[b-q5pyqb11by]{
    text-align:start;
    font-size:20px;
    text-wrap:balance;
}

.precio-catalogo[b-q5pyqb11by]{
    text-align:start;
    text-wrap:balance;
}
