.catalogo[b-q5pyqb11by] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    padding: 1rem 3rem;
    gap:10px;
}

.titulo-catalogo[b-q5pyqb11by]{
    align-self:start;
    font-family: serif;
    font-weight:500;
}

.menu-catalogo-pc[b-q5pyqb11by] {
    display: grid;
    align-self: start;
    align-content: center;
    margin-top: 5px;
    grid-column: 1;
    gap: 10px;
}

.botones-catalogo[b-q5pyqb11by] {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    border: 2px solid rgb(212, 212, 212);
    font-size: 18px;
    font-family: serif;
    font-weight:200;
    cursor:pointer;
}

.botones-catalogo:hover[b-q5pyqb11by] {
   border-color: rgb(244, 152, 117);
}

 .botones-catalogo:hover i[b-q5pyqb11by] {
        color: rgb(244, 152, 117);
}

.lista-libros[b-q5pyqb11by] {
    display: grid;
    align-items: center;
    align-content: start;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
}

.cuadro-libro[b-q5pyqb11by] {
    display: grid;
    width: fit-content;
    height: 600px;
    align-self: start;
}

.cuadro-libro img[b-q5pyqb11by]{
    width:200px;
    height:350px;
    object-fit:cover; /*recorta manteniendo proporcion*/
    object-position:center; /*centra recorte*/
    display:block;
    cursor:pointer;
}

.boton-comprar-libro[b-q5pyqb11by] {
    background-color: rgb(244, 152, 117);
    border:none;
    color:white;
    font-family: Arial;
    font-weight:600;
    width:100%;
    height:40px;
    align-self:end;
    font-size:15px;
}

.boton-comprar-libro:hover[b-q5pyqb11by]{
    border-color: rgb(212, 212, 212);
    border-style:solid;
}

.titulo-libro-catalogo[b-q5pyqb11by]{
    text-align:start;
    font-size:20px;
    text-wrap:balance;
}

.autor-catalogo[b-q5pyqb11by] {
    text-align: start;
    font-size: 16px;
    text-wrap: balance;
}

.precio-catalogo[b-q5pyqb11by] {
    text-align: start;
    align-self:end;
    text-wrap: balance;
}

.menu-catalogo-responsive .botones-catalogo[b-q5pyqb11by], .boton-filtrar[b-q5pyqb11by] {
    display: none;
}

.ingreso-precios[b-q5pyqb11by]{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:6px;
    font-family:sans-serif;
}

.ingreso-precios input[b-q5pyqb11by], .ingreso-autor input[b-q5pyqb11by] {
    width: 180px;
    height: 30px;
}

.btn-precio-buscar[b-q5pyqb11by] {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100px;
    height: 30px;
}

.ingreso-autor[b-q5pyqb11by]{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.boton-titulo-autor[b-q5pyqb11by]{
    display:flex;
    width:fit-content;
    height:fit-content;
    background: none;
    border:none;
}

/*Diseño movil*/
@media (max-width:570px){
    .catalogo[b-q5pyqb11by] {
        display: flex;
        flex-direction:column;
        width: 100%;
        align-items: center;
        padding: 1rem 1rem;
        padding-top: 1rem;
        gap: 10px;
    }

    .titulo-catalogo[b-q5pyqb11by] {
        align-self: center;
        font-family: serif;
        font-size:32px;
        font-weight: 500;
    }

    .menu-catalogo-pc[b-q5pyqb11by]{
        display:none;
    }

    .menu-catalogo-responsive[b-q5pyqb11by] {
        display: flex;
        flex-direction:column;
        align-self: center;
        align-content: center;
        margin-top: 5px;
        grid-column: 1;
        gap: 10px;
        width: fit-content;
        height: fit-content;
    }

    .menu-catalogo-responsive .botones-catalogo[b-q5pyqb11by]{
        display:flex;
        flex-direction:row;
    }

    .botones-catalogo[b-q5pyqb11by], .boton-filtrar[b-q5pyqb11by]{
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        border: 2px solid rgb(212, 212, 212);
        background-color: white;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 200;
        padding: 0 0;
    }


    .botones-catalogo i[b-q5pyqb11by], .boton-filtrar[b-q5pyqb11by]{
        display:flex;
        font-size:18px;
    }


    .ingreso-precios[b-q5pyqb11by]{
        display:flex;
        flex-direction:row;
    }

    .lista-libros[b-q5pyqb11by]{
        display:grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        flex-wrap: wrap;
        width: fit-content;
        gap:4px;
        height:40%;
        margin: 0 10px 0 10px;
    }

    .cuadro-libro[b-q5pyqb11by] {
        display: grid;
        grid-template-rows: 250px 1fr auto; /* imagen | titulo | autor | precio | boton */
        align-self: start;
        width: 100%;
        height: 100%;
        border-width: 3px;
        border-color: rgba(212, 212, 212, 0.3);
        border-style: solid;
    }

        .cuadro-libro img[b-q5pyqb11by] {
            height: 250px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    .boton-comprar-libro[b-q5pyqb11by] {
        height: 50px;
        font-size: 14px;
        text-align: center;
        align-self: end; /* ← se pega al fondo de su celda */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-libros[b-q5pyqb11by]{
        padding-left:4px;
    }

    .ingreso-precios[b-q5pyqb11by] , .ingreso-precios input[b-q5pyqb11by] {
        display:flex;
        flex-direction:column;
        width:200px;
        font-size:18px;
    }

    .ingreso-precios input[b-q5pyqb11by]{
        border: 2px solid rgb(212, 212, 212);
    }

    .btn-precio-buscar[b-q5pyqb11by]{
        display: flex;
        font-size: 18px;
        width: 200px;
        border: 2px solid rgb(212, 212, 212);
        
    }

    .ingreso-autor[b-q5pyqb11by]{
        display:flex;
        flex-wrap:nowrap;
        flex-direction:row;
        width:200px;
        gap:0;
    }

        .ingreso-autor input[b-q5pyqb11by] {
            display: flex;
            width: 165px;
            font-size: 18px;
            border: 2px solid rgb(212, 212, 212);
            height:fit-content;
        }

    .btn-filtrar-autor[b-q5pyqb11by] {
        display: flex;
        font-size: 18px;
        width: fit-content;
        border: 2px solid rgb(212, 212, 212);
    }
    
}