.header[b-rxk6cxr2lu] {
    display: grid;
    grid-template-columns: minmax(20px,200px) 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
}

.logo[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo[b-rxk6cxr2lu] {
    font-size: max(30px);
    font-weight: 500;
    font-style:italic;
    font-family:serif;
}

.search[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.buscador[b-rxk6cxr2lu] {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa[b-rxk6cxr2lu] {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-right: 30px;
}

.user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .logo[b-rxk6cxr2lu] {
    border:none;
    background:none;
    padding-right:30px;
}

.bi-person-circle[b-rxk6cxr2lu], .bi-cart4[b-rxk6cxr2lu] {
    font-size: 45px;
}

.subheader[b-rxk6cxr2lu] {
    display: grid;
    background-color: white;
    padding: 0.75rem 18rem;
    border-block: solid;
    border-color: rgb(212, 212, 212, 0.4);
}

.menu-header[b-rxk6cxr2lu] {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin-left:100px;
}

[b-rxk6cxr2lu] .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

[b-rxk6cxr2lu] .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
}

[b-rxk6cxr2lu] .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

[b-rxk6cxr2lu] .nav-link.active::after{
    transform: scaleX(1);
}

.hamburger-menu[b-rxk6cxr2lu] {
    display: none;
}

/*Diseño responsive IMPLEMENTAR MAS TARDE AL TERMINAR EL MAQUETADO*/
@media (max-width:500px) {

    .header[b-rxk6cxr2lu] {
        display: grid;
        grid-template-columns: 13% 20% 2% 2%;
        grid-template-rows: 20% 10%;
        padding-right: 5px;
        justify-content:start;
        padding-left: 5px;
        align-items: center;
        padding-top:2rem;
        gap: 26px;
        width: 100%;
        height: 80px;
    }

    .logo[b-rxk6cxr2lu] {
        margin-left: 20px;
        width: fit-content;
        padding-right: 0;
    }

        .logo img[b-rxk6cxr2lu] {
            width: 30px;
            height: 30px;
        }

    .nombre-logo[b-rxk6cxr2lu] {
        font-size: 20px;
    }

    .hamburger-menu[b-rxk6cxr2lu] {
        display: flex;
        grid-row:2;
        width: 20px;
        height: 20px;
        justify-content: center;
        background: none;
        padding-left: 30px;
        border:none;
        margin-bottom:10px;
    }

    .hamburguer-icon i[b-rxk6cxr2lu] {
        font-size:18px;
        margin-right:24px;
        padding-bottom:10px;
    }

    .subheader[b-rxk6cxr2lu] {
        display: none;
    }

    .search[b-rxk6cxr2lu] {
        width: 220px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        padding-left: 0px;
    }

    .buscador[b-rxk6cxr2lu] {
        height: 20px;
        width: 200px;
        padding-left: 0;
        flex: 1;
        justify-self: start;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .lupa[b-rxk6cxr2lu] {
        width: 16px;
        height: 20px;
        display: flex;
        justify-self: end;
        margin-right: 4px;
        padding: 0 10px;
        padding-right: 20px;
    }

        .lupa img[b-rxk6cxr2lu] {
            height: 14px;
            width: 14px;
            display: flex;
            justify-items: center;
            padding-top:4px;
        }

    .user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .user i[b-rxk6cxr2lu], .carrito i[b-rxk6cxr2lu] {
        width: 10px;
        font-size: 26px;
    }

    
}
