.header[b-rxk6cxr2lu] {
    display: grid;
    grid-template-columns: minmax(20px,200px) 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
    position:relative;
    margin: 0px;
}

.logo[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo[b-rxk6cxr2lu] {
    font-size: max(30px);
    font-weight: 500;
    font-style:italic;
    font-family:serif;
}

.search[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.search > .buscador[b-rxk6cxr2lu] {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa[b-rxk6cxr2lu] {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-right: 30px;
}

.user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .logo[b-rxk6cxr2lu] {
    border:none;
    background:none;
    padding-right:30px;
}

.bi-person-circle[b-rxk6cxr2lu], .bi-cart4[b-rxk6cxr2lu] {
    font-size: 45px;
}

.subheader[b-rxk6cxr2lu] {
    display: grid;
    background-color: white;
    padding: 0.75rem clamp(1rem,6vw,8rem);
    border-block: solid;
    border-color: rgb(212, 212, 212, 0.4);
}

.menu-header[b-rxk6cxr2lu] {
    display: flex;
    align-items:center;
    justify-content:center;
    gap:2.5rem;
}

[b-rxk6cxr2lu] .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

[b-rxk6cxr2lu] .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
}

[b-rxk6cxr2lu] .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

[b-rxk6cxr2lu] .nav-link.active::after{
    transform: scaleX(1);
}

.hamburger-menu[b-rxk6cxr2lu] {
    display: none;
}

/*Diseño movil*/
@media (max-width:570px) {

    .header[b-rxk6cxr2lu] {
        display: grid;
        grid-template-columns: auto 1fr auto auto auto;
        grid-template-rows: auto auto;
        margin-right: 5px;
        margin-left: 5px;
        align-items: center;
        width: 100%;
        gap: 10px;
        height: fit-content;
        margin: 0;
        padding: 0 0;
    }

    .hamburger-menu[b-rxk6cxr2lu] {
        display: flex;
        grid-row: 1;
        width: 20px;
        height: 20px;
        justify-content: start;
        align-items:start;
        background: none;
        border: none;
        grid-row:1;
        padding: 6px;
    }

    .hamburguer-icon i[b-rxk6cxr2lu] {
        font-size: 22px;
    }

    .logo[b-rxk6cxr2lu] {
        margin-left: 20px;
        width: fit-content;
        padding-right: 0;
        justify-self:center;
        align-items:center;
    }

    .logo img[b-rxk6cxr2lu] {
        width: 50px;
        height: 50px;
     }

    .nombre-logo[b-rxk6cxr2lu] {
        font-size: 20px;
    }

    .subheader[b-rxk6cxr2lu] {
        display: none;
    }

    .search[b-rxk6cxr2lu] {
        grid-row: 2;
        grid-column: 1/-1;
        border-radius: 0px;
        display: flex;
        width: 100%;
        align-items: stretch;
        height: 36px;
        align-self: end;
        padding-left:0;
        border-color: rgb(128, 128, 128, 0.5);
        border-style:solid;
        border-width:2px;
        overflow:hidden;
    }

    .search:focus-within[b-rxk6cxr2lu] {
        border-color: rgb(13,110,253);
        box-shadow: 0 0 0 2px rgb(13,110,253,0.3);
     }

     .buscador[b-rxk6cxr2lu] {
        display:flex;
        flex:1;
        min-width:0;
        height:100%;
        border:none;
        outline:none;
        font-size:14px;
     }

    .lupa[b-rxk6cxr2lu] {
        display: flex;
        flex: 0 20px 24px;
        justify-content: center;
        align-items:center;
        border:none;
        height: 100%;
    }

    .lupa img[b-rxk6cxr2lu] {
        height: 14px;
        width: 14px; 
    }

    .user i[b-rxk6cxr2lu], .carrito i[b-rxk6cxr2lu] {
        font-size: 18px;
    }

    .user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu]{
        width: 100%;
        padding: 0;
        margin-right:5px;
    }
    
}


/*Diseño Tablets mini/air*/
@media (min-width:571px) and (max-width:860px) {

    .header[b-rxk6cxr2lu] {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .menu-header[b-rxk6cxr2lu] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-color: black;
    }

    .logo[b-rxk6cxr2lu] {
        display: flex;
        width: fit-content;
        padding: 0;
    }

    .nombre-logo[b-rxk6cxr2lu] {
        font-size: 24px;
    }

    .search[b-rxk6cxr2lu] {
        display: flex;
        width: 100%;
        align-items: stretch;
        padding: 0px;
    }

    .search:focus-within[b-rxk6cxr2lu] {
        border-color: #0d6efd;
        box-shadow: 0 0 0 4px rgb(13,110,253,0.5);
    }

    .buscador[b-rxk6cxr2lu] {
        flex:1;
        min-width: 0;
    }

    .user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .user i[b-rxk6cxr2lu], .carrito i[b-rxk6cxr2lu] {
        font-size: 40px;
    }

    .user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu] {
        width: 100%;
        padding: 0;
    }
}


/*Diseño tablets pro, grandes*/
@media (min-width:853px) and (max-width:1024px) and (min-height:1280px) and (max-height:1370)
{
    .header[b-rxk6cxr2lu]{
        display:grid;
        grid-template-columns: auto 1fr auto auto;
        grid-template-rows: auto auto;
    }

   
}