.header[b-rxk6cxr2lu] {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
}

.logo[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo[b-rxk6cxr2lu] {
    font-size: 30px;
    font-weight: 500;
    font-style:italic;
    font-family:serif;
}

.search[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.buscador[b-rxk6cxr2lu] {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa[b-rxk6cxr2lu] {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .lupa[b-rxk6cxr2lu], .logo[b-rxk6cxr2lu] {
    cursor: pointer;
    padding-right:30px;
}

.bi-person-circle[b-rxk6cxr2lu], .bi-cart4[b-rxk6cxr2lu] {
    font-size: 45px;
}

.subheader[b-rxk6cxr2lu] {
    display: grid;
    background-color: white;
    padding: 0.75rem 18rem;
    border-block: solid;
    border-color: rgb(212, 212, 212, 0.4);
}

.menu-header[b-rxk6cxr2lu] {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin-left:100px;
}

[b-rxk6cxr2lu] .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

[b-rxk6cxr2lu] .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
}

[b-rxk6cxr2lu] .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

[b-rxk6cxr2lu] .nav-link.active::after{
    transform: scaleX(1);
}

.hamburger-menu[b-rxk6cxr2lu] {
    display:none;
}

/*Diseño responsive IMPLEMENTAR MAS TARDE AL TERMINAR EL MAQUETADO*/
@media (max-width:500px) {

    .header[b-rxk6cxr2lu] {
        padding-right:15px;
        padding-left:5px;
    }
    .logo[b-rxk6cxr2lu] {
        width: 20px;
        height: 20px;
        padding-left: 4rem;
    }
    .hamburger-menu[b-rxk6cxr2lu] {
        display:flex;
        flex-direction:column;
        width:15px;
        height:15px;
        justify-self:start;
       
    }

    .hamburguer-icon[b-rxk6cxr2lu]{
        border: none;
        background: none;
       
    }

    .subheader[b-rxk6cxr2lu]{
        display:none;
    }

    .menu-header-desplegable[b-rxk6cxr2lu]{
        content:"";
        border-style:solid;
        border-color:black;
        width:120px;
        height:150px;
        padding:5px;
        border-radius:8px;
        border-width:2px;
    }

    .bi-list[b-rxk6cxr2lu] {
        width: 40px;
    }

    .search[b-rxk6cxr2lu]{
        max-width:400px;
    }
}
