.header[b-rxk6cxr2lu] {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
}

.logo[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo[b-rxk6cxr2lu] {
    font-size: 30px;
    font-weight: 500;
    font-style:italic;
}

.search[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.buscador[b-rxk6cxr2lu] {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa[b-rxk6cxr2lu] {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .lupa[b-rxk6cxr2lu], .logo[b-rxk6cxr2lu] {
    cursor: pointer;
}

.bi-person-circle[b-rxk6cxr2lu], .bi-cart4[b-rxk6cxr2lu] {
    font-size: 45px;
}


