.registrarse[b-f1rx34fkzg] {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.titulo-registrarse-seccion[b-f1rx34fkzg]{
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso[b-f1rx34fkzg] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.boton-registrarse[b-f1rx34fkzg] {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.boton-registrarse:hover[b-f1rx34fkzg] {
    border-color: rgb(128, 128, 128);
}

.clase-preguntar-cuenta[b-f1rx34fkzg]{
    display:flex;
    justify-items:start;
    gap:10px;
}

[b-f1rx34fkzg] .inicia-sesion-frase {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 77, 255);
    padding-top:2px;
}

[b-f1rx34fkzg] .inicia-sesion-frase::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background-color: #0d6efd;
     transform: scaleX(1);
     transform-origin: right;
     transition: transform 0.25s ease-in-out;
     padding-top:2px;
     margin-bottom:7px;
}

[b-f1rx34fkzg] .inicia-sesion-frase:hover::after {
     transform: scaleX(1);
     transform-origin: left;
     background-color: rgb(0, 35, 248);
}

.texto-inicia-sesion:hover[b-f1rx34fkzg] {
    color: rgb(0, 35, 248);
}



