.menu-header-desplegable[b-uqn0fedkqy] {
   display:none;
}

@media (max-width:500px)
{
    .menu-header-desplegable[b-uqn0fedkqy] {
        content: "";
        display: flex;
        flex-direction: column;
        align-items:start;
        align-content:center;
        border-style: solid;
        border-color: black;
        width: 110px;
        height: 120px;
        padding: 5px;
        border-radius: 8px;
        border-width: 2px;
        background:white;
        border-width:2px;
    }
    
}