.user-component[b-5f5yu2qgmf] {
    display: grid;
    grid-template-columns: auto 20%;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.nombre-usuario[b-5f5yu2qgmf] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-usuario-seccion[b-5f5yu2qgmf]{
    grid-column:1;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    gap:1rem;
}

.frase-datos-usuario[b-5f5yu2qgmf]{
    grid-column:1;
}

.cambiar-datos-boton[b-5f5yu2qgmf] {
    grid-column: 2;
    align-self: end;
    min-width:0;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

