.user-component[b-5f5yu2qgmf] {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 1rem;
}

.nombre-usuario[b-5f5yu2qgmf] {
    display:flex;
    align-self: start;
    font-family: serif;
    font-weight: 500;
    color: rgb(244, 152, 117);
}

.datos-usuario-seccion[b-5f5yu2qgmf]{
    grid-column:1;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    gap:1rem;
}

.frase-datos-usuario[b-5f5yu2qgmf]{
    grid-column:1;
}

.cambiar-datos-boton[b-5f5yu2qgmf] {
    grid-column: 2;
    align-self: end;
    min-width:0;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

@media (max-width:570px) {
    .user-component[b-5f5yu2qgmf] {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-wrap: pretty;
    }

    .nombre-usuario[b-5f5yu2qgmf] {
        align-self: center;
        text-wrap:pretty;  
    }

    .email-usuario[b-5f5yu2qgmf], .telefono-usuario[b-5f5yu2qgmf], .provincia-seccion[b-5f5yu2qgmf], .localidad-seccion[b-5f5yu2qgmf], .direccion-usuario[b-5f5yu2qgmf] {
       width:150px;
       text-wrap:balance;
    }

    .cambiar-datos-boton[b-5f5yu2qgmf] {
        align-self: center;
    }
}

@media (min-width:571px) and (max-width:860px)
{
    .user-component[b-5f5yu2qgmf]{
     display:grid;
     grid-template-columns:1fr auto;
    }
}

@media (min-width:1000px) and (max-width:1025px) {
    .user.user-component[b-5f5yu2qgmf] {
        display: grid;
        grid-template-columns: auto auto;
       
    }

    .cambiar-datos-boton[b-5f5yu2qgmf] {
       margin-right:12vw;
    }
   
}