.admin-page[b-i87l3h0epg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #937e5222;
    padding: 2rem 0;
}

h1[b-i87l3h0epg] {
    display: flex;
    font-size: 40px;
    color: rgb(244, 152, 117);
    width: 500px;
    text-align: center;
}

.panel[b-i87l3h0epg] {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(244, 152, 117);
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;
}

