.adm-libros-seccion[b-dpp1rnt9yi] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    padding: 3rem 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.titulo-catalogo[b-dpp1rnt9yi] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.menu-catalogo-pc[b-dpp1rnt9yi] {
    display: grid;
    align-self: start;
    align-content: center;
    margin-top: 5px;
    grid-column: 1;
    gap: 10px;
}

.botones-catalogo[b-dpp1rnt9yi] {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    border: 2px solid rgb(212, 212, 212);
    font-size: 18px;
    font-family: serif;
    font-weight: 200;
    cursor: pointer;
}

.agregar-libros[b-dpp1rnt9yi] {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: limegreen;
    border: 2px solid rgb(0, 109, 6);
    font-size: 18px;
    font-family: serif;
    font-weight: 200;
    cursor: pointer;
}

.agregar-libros:hover[b-dpp1rnt9yi]{
    color: greenyellow;
    border-color:lawngreen;
}

.botones-catalogo:hover[b-dpp1rnt9yi] {
    border-color: rgb(244, 152, 117);
    color: rgb(244, 152, 117);
}

.botones-catalogo:hover i[b-dpp1rnt9yi] {
    color: rgb(244, 152, 117);
}

.img-libro[b-dpp1rnt9yi]{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-items:start;
}

.botones[b-dpp1rnt9yi]{
    position:absolute;
    display:flex;
    z-index:9999;
    justify-self:end;
    align-items:end;
}

.eliminar[b-dpp1rnt9yi]{
    background-color:red;
    display:flex;
    justify-self:end;
}

.modificar[b-dpp1rnt9yi]{
    background-color:cornflowerblue;
}

.menu-eliminar[b-dpp1rnt9yi]{
    position:absolute;
    display:flex;
    justify-self:center;
    align-self:center;
    z-index:99999;
    border: 2px solid rgb(244, 152, 117);
    top:50%;
    background-color:white;
    flex-direction:column;
    padding-top: 10px;
}

.btn-eliminar[b-dpp1rnt9yi], .btn-cancel[b-dpp1rnt9yi] {
    border: 2px solid rgb(244, 152, 117);
}

.menu-eliminar p[b-dpp1rnt9yi]{
    padding: 0 10px;
}

.opciones-eliminar[b-dpp1rnt9yi]{
    display:grid;
    grid-template-columns: auto auto;
}

.lista-libros[b-dpp1rnt9yi] {
    display: grid;
    align-items: center;
    align-content: start;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
}

.cuadro-libro[b-dpp1rnt9yi] {
    display: grid;
    width: fit-content;
    height: 600px;
    align-self: start;
}

    .cuadro-libro img[b-dpp1rnt9yi] {
        width: 200px;
        height: 350px;
        object-fit: cover;
    }

.boton-comprar-libro[b-dpp1rnt9yi] {
    background-color: rgb(244, 152, 117);
    border: none;
    color: white;
    font-family: Arial;
    font-weight: 600;
    width: 100%;
    height: 40px;
    align-self: end;
    font-size: 15px;
}

    .boton-comprar-libro:hover[b-dpp1rnt9yi] {
        border-color: rgb(212, 212, 212);
        border-style: solid;
    }

.titulo-libro-catalogo[b-dpp1rnt9yi] {
    text-align: start;
    font-size: 20px;
    text-wrap: balance;
}

.autor-catalogo[b-dpp1rnt9yi] {
    text-align: start;
    font-size: 16px;
    text-wrap: balance;
}

.precio-catalogo[b-dpp1rnt9yi] {
    text-align: start;
    align-self: end;
    text-wrap: balance;
}

.menu-catalogo-responsive .botones-catalogo[b-dpp1rnt9yi], .boton-filtrar[b-dpp1rnt9yi] {
    display: none;
}

.ingreso-precios[b-dpp1rnt9yi] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    font-family: sans-serif;
}

    .ingreso-precios input[b-dpp1rnt9yi], .ingreso-autor input[b-dpp1rnt9yi] {
        width: 180px;
        height: 30px;
    }

.btn-precio-buscar[b-dpp1rnt9yi] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 30px;
}

.ingreso-autor[b-dpp1rnt9yi] {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/*Diseño movil*/
@media (max-width:570px) {
    .adm-libros-seccion[b-dpp1rnt9yi] {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 3rem 3rem;
        padding-top: 1rem;
        gap: 10px;
    }

    .titulo-catalogo[b-dpp1rnt9yi] {
        align-self: center;
        font-family: serif;
        font-size: 32px;
        font-weight: 500;
    }

    .menu-catalogo-pc[b-dpp1rnt9yi] {
        display: none;
    }

    .menu-catalogo-responsive[b-dpp1rnt9yi] {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        margin-top: 5px;
        grid-column: 1;
        gap: 10px;
    }

    .botones-catalogo[b-dpp1rnt9yi], .boton-filtrar[b-dpp1rnt9yi] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        align-self: center;
        border: 2px solid rgb(212, 212, 212);
        background-color: white;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 200;
        padding: 0 10px;
    }

        .botones-catalogo i[b-dpp1rnt9yi] {
            font-size: 20px;
        }

    .ingreso-precios[b-dpp1rnt9yi] {
        display: flex;
        flex-direction: row;
    }
}
