/* /Components/CarritoComponent.razor.rz.scp.css */
.carrito[b-8g0gqjtdyx] {
    display: grid;
    grid-template-columns: auto;
    width: 500px;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 2px;
    border-style:solid;
    border-color:black;
}

.titulo-carrito[b-8g0gqjtdyx] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.datos-libro-carrito img[b-8g0gqjtdyx]{
    width:80px;
    height:120px;
    border-radius:10px;
    
    background:none;
    margin-left:12px;
}

.datos-libro-carrito[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
    background: rgb(212, 212, 212, 0.6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 140px;
    margin-top: 2px;
}

.titulo-libro-carrito[b-8g0gqjtdyx], .precio-carrito[b-8g0gqjtdyx]{
    font-size:20px;
    text-wrap:balance;
}

.titulo-precio[b-8g0gqjtdyx]{
    display:flex;
    justify-content:center;
    gap: 14px;
    padding-left: 12px;
}

.precio-carrito[b-8g0gqjtdyx]{
    padding-top:20px;
}

.bi-trash[b-8g0gqjtdyx]{
    display:flex;
    justify-items:end;
    margin-bottom:6rem;
    padding: 4px;
    font-size:22px;
}

.seccion-compra-botones[b-8g0gqjtdyx] {
    border-color: rgb(244, 152, 117);
    border-width: 2px;
    border-style: solid;
}

.frase-total[b-8g0gqjtdyx], .frase-precio-total[b-8g0gqjtdyx] {
    font-weight: 600;
    font-size: 28px;
}

.total-clase[b-8g0gqjtdyx] {
    display: flex;
    justify-content: space-evenly;
    padding-top:20px;
}

.boton-comprar[b-8g0gqjtdyx] {
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    align-content: center;
}

.boton-comprar:hover[b-8g0gqjtdyx] {
   border-color: rgb(128, 128, 128);
   border-width:2px;
}

.boton-basura-carrito[b-8g0gqjtdyx] {
    border:none;
    background:none;
}
/* /Components/CatalogoComponent.razor.rz.scp.css */
.catalogo[b-q5pyqb11by] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top:1rem;
    gap:10px;
}

.titulo-catalogo[b-q5pyqb11by]{
    align-self:start;
    font-family: serif;
    font-weight:500;
}

.menu-catalogo[b-q5pyqb11by] {
    display: grid;
    align-self: start;
    align-content: center;
    margin-top: 5px;
    grid-column: 1;
    gap: 10px;
}

.botones-catalogo[b-q5pyqb11by] {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    border: 2px solid rgb(212, 212, 212);
    font-size: 18px;
    font-family: serif;
    font-weight:200;
    cursor:pointer;
}

.botones-catalogo:hover[b-q5pyqb11by] {
   border-color: rgb(244, 152, 117);
}

 .botones-catalogo:hover i[b-q5pyqb11by] {
        color: rgb(244, 152, 117);
}

.lista-libros[b-q5pyqb11by] {
    display:grid;
    align-items:center;
    align-content:start;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    width:900px;
    height:600px;
    margin-bottom:2rem;
}

.cuadro-libro[b-q5pyqb11by] {
    display: grid;
    width: 200px;
    height: 600px;
    align-self: start;
    padding: 2px;
    

}

.cuadro-libro img[b-q5pyqb11by]{
    width:200px;
    height:350px;
    object-fit:cover;
}

.boton-comprar-libro[b-q5pyqb11by] {
    background-color: rgb(244, 152, 117);
    border:none;
    color:white;
    font-family: Arial;
    font-weight:600;
    width:100%;
    height:40px;
    align-self:end;
}

.boton-comprar-libro:hover[b-q5pyqb11by]{
    border-color: rgb(212, 212, 212);
    border-style:solid;
}

.titulo-libro-catalogo[b-q5pyqb11by]{
    text-align:start;
    font-size:20px;
    text-wrap:balance;
}

.precio-catalogo[b-q5pyqb11by]{
    text-align:start;
    text-wrap:balance;
}
/* /Components/ContactoComponent.razor.rz.scp.css */
.contacto[b-8mn0lwk0x1] {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.titulo-contacto-seccion[b-8mn0lwk0x1] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso[b-8mn0lwk0x1] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style:solid;
}

.ingreso-de-la-solicitud[b-8mn0lwk0x1] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
    border-width:2px;
    height:100px;
}

.boton-enviar[b-8mn0lwk0x1] {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
    font-weight:600;
    font-family:sans-serif;
}

.boton-enviar:hover[b-8mn0lwk0x1]{
   border-color: rgb(128, 128, 128);
}
/* /Components/DetallesPagoComponent.razor.rz.scp.css */
.detalles-pago[b-q6ignot1cw] {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 2rem;
}

.columna-1[b-q6ignot1cw] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo-detalles-pago[b-q6ignot1cw] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.email-usuario[b-q6ignot1cw]{
    position:relative;
    display:inline-block;
    text-decoration:none;
    color:black;
}

[b-q6ignot1cw] .email-usuario::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    margin-top: 28px;
}

.ingresos[b-q6ignot1cw]{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.ingreso[b-q6ignot1cw] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.cuadro-carrito[b-q6ignot1cw]{
    display:grid;
    grid-column:2;
    align-content:end;
    margin-top: 2rem;
    padding-top:28px;
}

.detalles-contacto[b-q6ignot1cw], .mail-detpago[b-q6ignot1cw] {
    margin-top: 1rem;
}

.medios-pago-seccion[b-q6ignot1cw] {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:4px;

}

.cuadro-pago-efectivo img[b-q6ignot1cw]{
    width: 40px;
    height: 30px;
}

.cuadro-pago-efectivo[b-q6ignot1cw] {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    display: flex;
    align-items: center;
    padding-left: 10px;
    align-content: space-evenly;
    gap: 20px;
}

.frase-efectivo-local[b-q6ignot1cw]{
  align-self:center;
  padding-top:8px;
}

.clase-icono-flecha[b-q6ignot1cw]{
    align-self:center;
    font-size:26px;
    align-items:start;
    padding-left:9rem;
    background:none;
    border-style:none;
}

.cuando-clickea-billete[b-q6ignot1cw] {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: start;
    flex-direction: column;
    justify-items: start;
    gap: 2px;
}

.direccionador-a-google-maps img[b-q6ignot1cw] {
    width: 450px;
    height: 300px;
    padding: 2px;
}

.boton-cambiar-medio-pago[b-q6ignot1cw] {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-style: solid;
    border-color: rgb(167, 167, 167, 0.4);
    width:250px;
    padding: 0px;

}

.boton-cambiar-medio-pago i[b-q6ignot1cw]{
    padding-top:3px;
    font-size:20px;
}

.frase-cambiar-medio-pago[b-q6ignot1cw]{
    padding-right:30rem;
    display:flex;
    text-wrap:nowrap;
    text-align:center;
    padding-top:6px;
}

.cuadro-pago-tarjeta img[b-q6ignot1cw]{
    height:46px;
    width:44px;
}

.cuadro-pago-tarjeta[b-q6ignot1cw] {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    display: flex;
    align-items: center;
    padding-left: 10px;
    align-content: space-evenly;
    gap: 20px;
}

.frase-tarjeta[b-q6ignot1cw] {
    align-self: center;
    padding-top: 8px;
}

.cuadro-pago-tarjeta >.clase-icono-flecha[b-q6ignot1cw] {
    padding-left:12.6rem;
}

.cuando-clickea-tarjetas[b-q6ignot1cw] {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: start;
    gap:2px;
}

.cuadro-pago-transferencia[b-q6ignot1cw] {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    display: flex;
    align-items: center;
    padding-left: 10px;
    align-content: space-evenly;
    gap: 20px;
    
}

.cuadro-pago-transferencia img[b-q6ignot1cw]{
    height:32px;
    width:42px;
}

.cuadro-pago-transferencia > .clase-icono-flecha[b-q6ignot1cw] {
    padding-left: 9.7rem;
}

.cuando-clickea-transferencia[b-q6ignot1cw] {
    border-radius: 8px;
    border-color: rgb(167, 167, 167, 0.4);
    border-style: solid;
    padding: 10px;
    background-color: rgb(244, 152, 117, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: start;
    gap: 2px;
}

.cuadro-pago-efectivo[b-q6ignot1cw], .cuadro-pago-tarjeta[b-q6ignot1cw], .cuadro-pago-transferencia[b-q6ignot1cw] {
    background-color: white;
    cursor: pointer;
    transition: background-color .2s ease;
}
.frase-transferencia[b-q6ignot1cw] {
    align-self: center;
    padding-top: 8px;
}

.activo[b-q6ignot1cw] {
    background-color: rgb(244, 152, 117, 0.2);
    border-color: rgb(244, 152, 117);
}

.boton-comprar[b-q6ignot1cw] {
    display: grid;
    grid-column: 1;
    background-color: rgb(244, 152, 117);
    color: white;
    border-style: solid;
    border-color: rgb(244, 152, 117);
    font-weight: 500;
    width: 100%;
    height:40px;
    align-content: center;
    font-size:20px;
    margin-top:3rem;
}

.boton-comprar:hover[b-q6ignot1cw] {
        border-color: rgb(128, 128, 128);
        border-width: 4px;
        border-style:solid;
}
/* /Components/FooterComponent.razor.rz.scp.css */
.footer[b-4tvn7u64oa] {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    align-items: start;
    padding: 3em 3rem;
    padding-top: 2.5rem;
    gap: 1rem;
    background-color:lightgray;
}

.frase[b-4tvn7u64oa]{
    color:white;
    font-size:22px;
}

.redes-seccion[b-4tvn7u64oa]{
    display:flex;
    flex-direction:column;  
    gap:1.5rem;
    align-items:start;
}

[b-4tvn7u64oa] .contenedor {
    content: "";
    background-color: rgb(244, 152, 117);
    border-radius: 75px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: start;
    border-color: rgb(244, 152, 117);
    border-style:solid;
    cursor:pointer;
}

.contenedor i[b-4tvn7u64oa]{
    font-size:24px;
    color:lightgray;
    padding-top:1px;
}

[b-4tvn7u64oa] .contenedor-facebook {
    display: flex;
    background: none;
    align-items:start;
    width: 40px;
    cursor:pointer;
}

[b-4tvn7u64oa] .contenedor-facebook i {
    color: rgb(244, 152, 117);
    font-size: 40px;
    align-self:start;
    padding-right:6px;
}

.clase-donde-estamos[b-4tvn7u64oa] {
    display: flex;
    flex-direction: column;

}


[b-4tvn7u64oa] .iconos-contacto{
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:2rem;
    margin-top:1.7rem;
   
}

[b-4tvn7u64oa] .telefono-seccion{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:start;
    gap:20px;
    
}

.contenedor-mail[b-4tvn7u64oa], .contenedor-ubicacion[b-4tvn7u64oa] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: rgb(244, 152, 117);
    border-radius:75px;
    width:40px;
    height:40px;
    text-wrap:nowrap;
    cursor:pointer;
}

.bi-envelope[b-4tvn7u64oa], .contenedor-ubicacion i[b-4tvn7u64oa]{
    font-size:24px;
    color:lightgray;
    display:flex;
    justify-items:center;
    padding-left:8px;
    gap:20px;
}

[b-4tvn7u64oa] .mail-texto, .horario-texto[b-4tvn7u64oa]{
    margin-left:10px;
}

[b-4tvn7u64oa] #map {
    height: 200px;
    width:400px;
    border-radius:8px;
}
/* /Components/HeaderComponent.razor.rz.scp.css */
.header[b-rxk6cxr2lu] {
    display: grid;
    grid-template-columns: minmax(20px,200px) 1fr auto auto;
    align-items: center;
    background-color: lightgray;
    padding: 0.75rem 1.5rem;
    gap: 1.5rem;
    position:relative;
}

.logo[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nombre-logo[b-rxk6cxr2lu] {
    font-size: max(30px);
    font-weight: 500;
    font-style:italic;
    font-family:serif;
}

.search[b-rxk6cxr2lu] {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding-left:30px;
}

.search > .buscador[b-rxk6cxr2lu] {
    flex: 1;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.lupa[b-rxk6cxr2lu] {
    height: 35px;
    background-color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-right: 30px;
}

.user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .logo[b-rxk6cxr2lu] {
    border:none;
    background:none;
    padding-right:30px;
}

.bi-person-circle[b-rxk6cxr2lu], .bi-cart4[b-rxk6cxr2lu] {
    font-size: 45px;
}

.subheader[b-rxk6cxr2lu] {
    display: grid;
    background-color: white;
    padding: 0.75rem 18rem;
    border-block: solid;
    border-color: rgb(212, 212, 212, 0.4);
}

.menu-header[b-rxk6cxr2lu] {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin-left:100px;
}

[b-rxk6cxr2lu] .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

[b-rxk6cxr2lu] .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
}

[b-rxk6cxr2lu] .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

[b-rxk6cxr2lu] .nav-link.active::after{
    transform: scaleX(1);
}

.hamburger-menu[b-rxk6cxr2lu] {
    display: none;
}

/*Diseño responsive IMPLEMENTAR MAS TARDE AL TERMINAR EL MAQUETADO*/
@media (max-width:500px) {

    .header[b-rxk6cxr2lu] {
        display: grid;
        position:relative;
        grid-template-columns: minmax(2%,4%) minmax(30%,50%) minmax(2%,4%) 4%;
        grid-template-rows: 40% 40%;
        padding-right: 5px;
        justify-content:start;
        padding-left: 5px;
        align-items: center;
        width: 100%;
        gap:1rem;
        height: 70px;
    }

    .hamburger-menu[b-rxk6cxr2lu] {
        display: flex;
        grid-row: 2;
        width: 20px;
        height: 20px;
        justify-content: start;
        background: none;
        border: none;
        grid-row:1;
    }

    .hamburguer-icon i[b-rxk6cxr2lu] {
        font-size: 18px;

    }

    .logo[b-rxk6cxr2lu] {
        margin-left: 20px;
        width: fit-content;
        padding-right: 0;
    }

        .logo img[b-rxk6cxr2lu] {
            width: 30px;
            height: 30px;
        }

    .nombre-logo[b-rxk6cxr2lu] {
        font-size: 18px;
    }

    

    .subheader[b-rxk6cxr2lu] {
        display: none;
    }

    .search[b-rxk6cxr2lu] {
        grid-row: 2;
        grid-column: 1/-1;
        border-radius: 0px;
        border-color: black;
        border-style: solid;
        width: 100%;
        margin: 0.5%;
        display: flex;
        justify-items: start;
        justify-content: start;
        gap:0px;
    }

        .search > .buscador[b-rxk6cxr2lu] {
            height: 20px;
            border-radius: 0px;
            margin-left: 0px;
            align-self: start;
            border-color: black;
            border-style: solid;
        }

    .lupa[b-rxk6cxr2lu] {
        width: 16px;
        height: 20px;
        display: flex;
        justify-self: end;
        margin-right: 4px;
        padding: 0 10px;
        padding-right: 20px;
        border-radius:0px;
        border-color:black;
        border-style:solid;

    }

        .lupa img[b-rxk6cxr2lu] {
            height: 14px;
            width: 14px;
            display: flex;
            justify-items: center;
            padding-top:4px;
        }

    .user[b-rxk6cxr2lu], .carrito[b-rxk6cxr2lu], .user i[b-rxk6cxr2lu], .carrito i[b-rxk6cxr2lu] {
        font-size: 16px;
        gap:10px;
    }

    
}
/* /Components/HeroComponent.razor.rz.scp.css */

.hero[b-pbijrvm6gy] {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 3rem;
    width:100%;
    padding: 3rem 3rem;
    margin-bottom:7rem;
}

.hero-texto[b-pbijrvm6gy]{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:start;
   
}

.titulo-hero[b-pbijrvm6gy] {
    font-size: 60px;
    font-family:serif;
    text-wrap: balance;
    max-width:200px;
}

.eslogan[b-pbijrvm6gy] {
    font-size:40px;
    max-width:450px;
    font-weight:500;
    font-family:serif;

}

.btn-ver-libros[b-pbijrvm6gy] {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style:solid;
}

.hero-imagen img[b-pbijrvm6gy] {
    width: 500px;
    height: 356px;
    object-fit: contain;
    border-radius: 60px;
}
/* /Components/IniciarSesionComponent.razor.rz.scp.css */
.inicio-sesion[b-awra8w7bqt] {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.inisesi-titulo[b-awra8w7bqt] {
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso[b-awra8w7bqt] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.boton-inicio-sesion[b-awra8w7bqt] {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.boton-inicio-sesion:hover[b-awra8w7bqt] {
        border-color: rgb(128, 128, 128);
}

.olvidaste-contraseña[b-awra8w7bqt] {
    font-size: 14px;
    font-weight: 300;
    margin-left:21rem;
    margin-top:3rem;
}

[b-awra8w7bqt] .nav-link-contraseña {
    display: block;
    margin-top: 10px;
}

.preguntar-registrar[b-awra8w7bqt] {
    display: flex;
    justify-items: start;
    gap: 10px;
    padding-top: 1rem;
}

[b-awra8w7bqt] .frase-registrarme {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 77, 255);

}

[b-awra8w7bqt] .frase-registrarme::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #0d6efd;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
        padding-top: 2px;
        margin-top: 26px;
}

[b-awra8w7bqt] .frase-registrarme:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: rgb(0, 35, 248);
}

.frase-registrarme:hover[b-awra8w7bqt] {
    color: rgb(0, 35, 248);
}

.boton-preguntar-registrar[b-awra8w7bqt]{
    padding-top:1rem;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-acmwwuxy9a] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-acmwwuxy9a] {
    flex: 1;
}

.main-layout[b-acmwwuxy9a] {
    display: grid;
    min-height: 200px;
    background-color:white;
}

.sidebar[b-acmwwuxy9a] {
}

.pages-closed-sidebar[b-acmwwuxy9a] {
    grid-row: 2;
    grid-column: 1/-1;
    background-color: white;
}

.pages-opened-sidebar[b-acmwwuxy9a]{
    grid-row: 2;
    grid-column: 2/-1;
    background-color: white;
}


.top-row[b-acmwwuxy9a] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-acmwwuxy9a]  a, .top-row[b-acmwwuxy9a]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-acmwwuxy9a]  a:hover, .top-row[b-acmwwuxy9a]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-acmwwuxy9a]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-acmwwuxy9a] {
        justify-content: space-between;
    }

    .top-row[b-acmwwuxy9a]  a, .top-row[b-acmwwuxy9a]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-acmwwuxy9a] {
        flex-direction: row;
    }

    .sidebar[b-acmwwuxy9a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-acmwwuxy9a] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-acmwwuxy9a]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-acmwwuxy9a], article[b-acmwwuxy9a] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-acmwwuxy9a] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-acmwwuxy9a] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-lv45kharuv] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-lv45kharuv] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-lv45kharuv] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-lv45kharuv] {
    font-size: 1.1rem;
}

.bi[b-lv45kharuv] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-lv45kharuv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-lv45kharuv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-lv45kharuv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-lv45kharuv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lv45kharuv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lv45kharuv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-lv45kharuv]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-lv45kharuv]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-lv45kharuv]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-lv45kharuv] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-lv45kharuv] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-lv45kharuv] {
        display: none;
    }

    .nav-scrollable[b-lv45kharuv] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-77wm5m25zu],
.components-reconnect-repeated-attempt-visible[b-77wm5m25zu],
.components-reconnect-failed-visible[b-77wm5m25zu],
.components-pause-visible[b-77wm5m25zu],
.components-resume-failed-visible[b-77wm5m25zu],
.components-rejoining-animation[b-77wm5m25zu] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-retrying[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-failed[b-77wm5m25zu],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-77wm5m25zu] {
    display: block;
}


#components-reconnect-modal[b-77wm5m25zu] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-77wm5m25zu 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-77wm5m25zu 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-77wm5m25zu 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-77wm5m25zu]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-77wm5m25zu 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-77wm5m25zu {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-77wm5m25zu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-77wm5m25zu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-77wm5m25zu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-77wm5m25zu] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-77wm5m25zu] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-77wm5m25zu] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-77wm5m25zu] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-77wm5m25zu] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-77wm5m25zu] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-77wm5m25zu 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-77wm5m25zu] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-77wm5m25zu {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
/* /Components/LibroSeccionComponent.razor.rz.scp.css */
.libro-seccion[b-1l9de3t9q8]{
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    width:100%;
    align-items:center;
    padding: 3rem 3rem;
    padding-top:1rem;

}

.libro-seccion img[b-1l9de3t9q8]{
    display:flex;
    justify-items:start;
    width:330px;
    height:480px;
}

.titulo-autor-comprar[b-1l9de3t9q8] {
    align-items: center;
    align-content: start;
    margin-bottom: 4rem;
    padding-right:12rem;
}

.titulo-libro-seccion[b-1l9de3t9q8]{
    font-weight:500;
}

.autor-libro-seccion[b-1l9de3t9q8], .precio-libro-seccion[b-1l9de3t9q8], .precio-cuotas-libro-seccion[b-1l9de3t9q8] {
    padding-top: 1rem;
}

.cuadro-cantidad[b-1l9de3t9q8] {
    display: flex;
    background-color: white;
    border-color: rgb(212, 212, 221);
    border-style:solid;
    border-width:2px;
    width:100px;
    height:40px;
    justify-content: space-between;
    align-items:center;
    margin-top:1rem;
}

.agregar-carrito[b-1l9de3t9q8] {
    border-color: rgb(212, 212, 212);
    background-color: rgb(244, 152, 117);
    color: white;
    width: 300px;
    height: 40px;
    margin-top:1rem;
}

.boton-cantidad-disminuir[b-1l9de3t9q8], .boton-cantidad-aumentar[b-1l9de3t9q8]{
    border:none;
    background-color:white;
}

.boton-cantidad-disminuir:hover[b-1l9de3t9q8], .boton-cantidad-aumentar:hover[b-1l9de3t9q8] {
    color: rgb(128, 128, 128);
}

.agregar-carrito:hover[b-1l9de3t9q8] {
    border-color: rgb(128, 128, 128);
}

.cantidad-carrito[b-1l9de3t9q8] {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap:2rem;
}


.descripcion[b-1l9de3t9q8] {
    display: grid;
    justify-items:start;
    gap: 10px;
    padding-top:2rem;
    grid-column:1/-1;
}

.editorial-seccion[b-1l9de3t9q8], .fecha-publicacion-seccion[b-1l9de3t9q8], .num-pag-seccion[b-1l9de3t9q8]{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

/* /Components/RegistrarComponent.razor.rz.scp.css */
.registrarse[b-f1rx34fkzg] {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    padding: 3em 3rem;
    padding-top: 1rem;
    gap: 10px;
}

.titulo-registrarse-seccion[b-f1rx34fkzg]{
    align-self: start;
    font-family: serif;
    font-weight: 500;
}

.ingreso[b-f1rx34fkzg] {
    width: 500px;
    border-radius: 8px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
}

.boton-registrarse[b-f1rx34fkzg] {
    text-emphasis-color: white;
    background-color: rgb(244, 152, 117);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    border-color: rgb(244, 152, 117);
    border-style: solid;
    font-weight: 600;
    font-family: sans-serif;
}

.boton-registrarse:hover[b-f1rx34fkzg] {
    border-color: rgb(128, 128, 128);
}

.clase-preguntar-cuenta[b-f1rx34fkzg]{
    display:flex;
    justify-items:start;
    gap:10px;
}

[b-f1rx34fkzg] .inicia-sesion-frase {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 77, 255);
    padding-top:2px;
}

[b-f1rx34fkzg] .inicia-sesion-frase::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background-color: #0d6efd;
     transform: scaleX(1);
     transform-origin: right;
     transition: transform 0.25s ease-in-out;
     padding-top:2px;
     margin-bottom:7px;
}

[b-f1rx34fkzg] .inicia-sesion-frase:hover::after {
     transform: scaleX(1);
     transform-origin: left;
     background-color: rgb(0, 35, 248);
}

.texto-inicia-sesion:hover[b-f1rx34fkzg] {
    color: rgb(0, 35, 248);
}



/* /Components/SidebarComponent.razor.rz.scp.css */
.menu-header-desplegable[b-uqn0fedkqy] {
    position: absolute;
    top: 100%;
    left:1.5rem;
    z-index: 9999;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-items:start;
}

/* En desktop NO se muestra */
@media (min-width: 791px) {
    .menu-header-desplegable[b-uqn0fedkqy] {
        display: none;
    }
}
/* /Components/SobreNosotrosComponent.razor.rz.scp.css */
.sobre-nosotros[b-91mq5d4biu] {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        align-items: center;
        padding: 3em 3rem;
        padding-top: 1rem;
        gap: 10px;
}

.parrafo[b-91mq5d4biu]{
    text-wrap: wrap;

    text-align:justify;
}

@media (max-width:768px)
{
    .parrafo[b-91mq5d4biu]{
        font-size:16px;
        text-wrap:auto;
        text-align:justify;
        max-width:100%;
        max-height:100%;
 
    }
}
